@charset "UTF-8";
:root {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 600px) {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%; }

body {
  background-image: url("../imagenes/fondo gris.png");
  background-repeat: repeat-y;
  background-size: cover; }
  body main {
    padding: 5%; }
    body main h1 {
      text-align: center; }
    body main section {
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      flex-direction: row;
      vertical-align: middle;
      flex-wrap: wrap; }
      body main section .cuadro1 {
        margin-top: 3%;
        box-sizing: border-box;
        width: 250px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 36px;
        background: linear-gradient(145deg, #033261 0%, #407ebb 64%, #83a3c4 100%);
        box-shadow: 11px 11px 5px #5a5a5a;
        transition: all 1s; }
        body main section .cuadro1 a {
          outline: none;
          text-decoration: none;
          color: #ffffff;
          font-size: 1.5rem;
          font-weight: bolder;
          display: flex; }
      body main section .cuadro1:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer; }
      body main section .cuadro2 {
        margin-top: 3%;
        box-sizing: border-box;
        border: 1px solid grey;
        width: 250px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 36px;
        background: linear-gradient(145deg, #033261 0%, #4274a7 64%, #83a3c4 100%);
        box-shadow: 11px 11px 5px #5a5a5a;
        transition: all 1s; }
        body main section .cuadro2 a {
          outline: none;
          text-decoration: none;
          color: #ffffff;
          font-size: 1.5rem;
          font-weight: bolder;
          display: flex; }
      body main section .cuadro2:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer; }
      body main section .cuadro3 {
        margin-top: 3%;
        box-sizing: border-box;
        width: 250px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 36px;
        background: linear-gradient(145deg, #033261 0%, #4274a7 64%, #83a3c4 100%);
        box-shadow: 11px 11px 5px #5a5a5a;
        transition: all 1s; }
        body main section .cuadro3 a {
          outline: none;
          text-decoration: none;
          color: #ffffff;
          font-size: 1.5rem;
          font-weight: bolder;
          display: flex; }
      body main section .cuadro3:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer; }

/*HTML ROSCA*/
.body-rosca {
  background-image: url("../imagenes/fondo gris.png");
  background-repeat: repeat-y;
  background-size: cover; }
  .body-rosca main h1 {
    text-align: center; }
  .body-rosca main .menu__desplegable {
    margin: 0px; }
    .body-rosca main .menu__desplegable #nav__height1 {
      height: 270px;
      padding: 8%; }
    .body-rosca main .menu__desplegable #nav__height2 {
      height: 270px;
      padding: 8%; }
    .body-rosca main .menu__desplegable #nav__height3 {
      height: 150px;
      padding: 8%; }
    .body-rosca main .menu__desplegable #nav__height4 {
      height: 280px;
      padding: 8%; }
    .body-rosca main .menu__desplegable #nav__height5 {
      height: 250px;
      padding: 8%; }
    .body-rosca main .menu__desplegable .nav {
      display: block; }
      .body-rosca main .menu__desplegable .nav .m1 {
        background-color: #a31cb4;
        width: 450px;
        text-align: center; }
      .body-rosca main .menu__desplegable .nav .m2 {
        background-color: #e956d5;
        width: 450px;
        text-align: center; }
      .body-rosca main .menu__desplegable .nav .m3 {
        background-color: #2956ac;
        width: 450px;
        text-align: center; }
      .body-rosca main .menu__desplegable .nav .m4 {
        background-color: #7eca74;
        width: 450px;
        text-align: center; }
      .body-rosca main .menu__desplegable .nav .m5 {
        background-color: #e0de53;
        width: 450px;
        text-align: center; }
      .body-rosca main .menu__desplegable .nav li {
        list-style: none;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        padding-left: 0;
        float: left;
        position: relative; }
        .body-rosca main .menu__desplegable .nav li:hover > ul {
          display: block; }
        .body-rosca main .menu__desplegable .nav li a {
          width: 200px;
          text-decoration: none;
          color: #ffffff;
          padding: 3% 7%;
          display: block;
          text-align: center;
          font-size: 1rem; }
        .body-rosca main .menu__desplegable .nav li ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          padding: 0px;
          width: 200px; }
          .body-rosca main .menu__desplegable .nav li ul li {
            position: relative;
            float: none; }
            .body-rosca main .menu__desplegable .nav li ul li .m1__item {
              background-color: #ffffff;
              color: #a31cb4;
              border: 2px solid #a31cb4;
              width: 450px;
              font-size: 1rem; }
              .body-rosca main .menu__desplegable .nav li ul li .m1__item:hover {
                background-color: #a21cb4b4;
                color: #ffffff; }
            .body-rosca main .menu__desplegable .nav li ul li .m2__item {
              background-color: #ffffff;
              color: #e956d5;
              border: 2px solid #e956d5;
              font-size: 1rem;
              width: 450px; }
              .body-rosca main .menu__desplegable .nav li ul li .m2__item:hover {
                background-color: #e956d5b7;
                color: #ffffff; }
            .body-rosca main .menu__desplegable .nav li ul li .m3__item {
              background-color: #ffffff;
              color: #2956ac;
              border: 2px solid #2956ac;
              font-size: 1rem;
              width: 450px; }
              .body-rosca main .menu__desplegable .nav li ul li .m3__item:hover {
                background-color: #2957acb2;
                color: #ffffff; }
            .body-rosca main .menu__desplegable .nav li ul li .m4__item {
              background-color: #ffffff;
              color: #7eca74;
              border: 2px solid #7eca74;
              font-size: 1rem;
              width: 450px; }
              .body-rosca main .menu__desplegable .nav li ul li .m4__item:hover {
                background-color: #7eca74af;
                color: #ffffff; }
            .body-rosca main .menu__desplegable .nav li ul li .m5__item {
              background-color: #ffffff;
              color: #e0de53;
              border: 2px solid #e0de53;
              font-size: 1rem;
              width: 450px; }
              .body-rosca main .menu__desplegable .nav li ul li .m5__item:hover {
                background-color: #e0de53b4;
                color: #ffffff; }
            .body-rosca main .menu__desplegable .nav li ul li ul {
              left: 134%;
              top: 0px; }
              .body-rosca main .menu__desplegable .nav li ul li ul li {
                width: 450px; }

/*HTML CONEXIÓN*/
.body-conexion {
  background-image: url("../imagenes/fondo gris.png");
  background-repeat: repeat-y;
  background-size: cover; }
  .body-conexion main h1 {
    text-align: center; }
  .body-conexion main .menu__desplegable--conexion {
    margin: 0px; }
    .body-conexion main .menu__desplegable--conexion #nav__height1 {
      height: 270px;
      padding: 4%; }
    .body-conexion main .menu__desplegable--conexion #nav__height2 {
      height: 700px;
      padding: 4%; }
    .body-conexion main .menu__desplegable--conexion .nav {
      display: block; }
      .body-conexion main .menu__desplegable--conexion .nav .m1 {
        width: 450px; }
      .body-conexion main .menu__desplegable--conexion .nav .m2 {
        width: 450px; }
      .body-conexion main .menu__desplegable--conexion .nav li {
        list-style: none;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        width: 50%;
        padding-left: 0;
        float: left;
        position: relative; }
        .body-conexion main .menu__desplegable--conexion .nav li:hover > ul {
          display: block; }
        .body-conexion main .menu__desplegable--conexion .nav li a {
          width: 200px;
          text-decoration: none;
          color: #ffffff;
          padding: 3% 7%;
          background-color: #464345;
          display: block;
          text-align: center;
          border: 2px solid #ffffff; }
          .body-conexion main .menu__desplegable--conexion .nav li a:hover {
            background-color: #5552528e; }
        .body-conexion main .menu__desplegable--conexion .nav li ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          padding: 0px;
          width: 450px; }
          .body-conexion main .menu__desplegable--conexion .nav li ul li {
            position: relative;
            float: none;
            width: 450px; }
            .body-conexion main .menu__desplegable--conexion .nav li ul li ul {
              left: 100%;
              top: 0px; }
              .body-conexion main .menu__desplegable--conexion .nav li ul li ul li {
                width: 200px; }
              .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m1__item {
                background-color: #a31cb4;
                color: #ffffff;
                border: 2px solid #ffffff;
                width: 200px;
                font-size: 1.1rem; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m1__item:hover {
                  background-color: #a21cb4b4;
                  color: #ffffff; }
              .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m2__item {
                background-color: #e956d5;
                color: #ffffff;
                border: 2px solid #ffffff;
                font-size: 1.1rem;
                width: 200px; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m2__item:hover {
                  background-color: #e956d5b7;
                  color: #ffffff; }
              .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m3__item {
                background-color: #2956ac;
                color: #ffffff;
                border: 2px solid #ffffff;
                font-size: 1.1rem;
                width: 200px; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m3__item:hover {
                  background-color: #2957acb2;
                  color: #ffffff; }
              .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m4__item {
                background-color: #7eca74;
                color: #ffffff;
                border: 2px solid #ffffff;
                font-size: 1.1rem;
                width: 200px; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m4__item:hover {
                  background-color: #7eca74af;
                  color: #ffffff; }
              .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m5__item {
                background-color: #e0de53;
                color: #ffffff;
                border: 2px solid #ffffff;
                font-size: 1.1rem;
                width: 200px; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m5__item:hover {
                  background-color: #e0de53b4;
                  color: #ffffff; }

@media only screen and (max-width: 600px) {
  body {
    background-image: url("../imagenes/fondo gris.png");
    background-repeat: repeat-y;
    background-size: cover; }
    body main {
      padding: 2%;
      padding-bottom: 20%; }
      body main h1 {
        text-align: center;
        font-size: 1.3rem;
        padding-top: 5%; }
      body main section {
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: column;
        vertical-align: middle; }
        body main section .cuadro1 {
          box-sizing: border-box;
          width: 150px;
          height: 70px;
          margin-bottom: 25px;
          border-radius: 20px;
          background: linear-gradient(145deg, #033261 0%, #4274a7 64%, #83a3c4 100%);
          box-shadow: 11px 11px 5px #5a5a5a;
          transition: all 1s; }
          body main section .cuadro1 a {
            outline: none;
            text-decoration: none;
            color: #ffffff;
            font-size: 1rem;
            font-weight: bolder;
            display: flex;
            text-align: center; }
        body main section .cuadro1:hover {
          transform: scale(1.2, 1.2);
          cursor: pointer; }
        body main section .cuadro2 {
          box-sizing: border-box;
          width: 150px;
          height: 70px;
          margin-bottom: 25px;
          border-radius: 20px;
          background: linear-gradient(145deg, #033261 0%, #4274a7 64%, #83a3c4 100%);
          box-shadow: 11px 11px 5px #5a5a5a;
          transition: all 1s; }
          body main section .cuadro2 a {
            outline: none;
            text-decoration: none;
            color: #ffffff;
            font-size: 1rem;
            font-weight: bolder;
            display: flex;
            text-align: center; }
        body main section .cuadro2:hover {
          transform: scale(1.2, 1.2);
          cursor: pointer; }
        body main section .cuadro3 {
          box-sizing: border-box;
          width: 150px;
          height: 70px;
          margin-bottom: 25px;
          border-radius: 20px;
          background: linear-gradient(145deg, #033261 0%, #4274a7 64%, #83a3c4 100%);
          box-shadow: 11px 11px 5px #5a5a5a;
          transition: all 1s; }
          body main section .cuadro3 a {
            outline: none;
            text-decoration: none;
            color: #ffffff;
            font-size: 1rem;
            font-weight: bolder;
            display: flex;
            text-align: center; }
        body main section .cuadro3:hover {
          transform: scale(1.2, 1.2);
          cursor: pointer; }
  .body-rosca {
    background-image: url("../imagenes/fondo gris.png");
    background-repeat: repeat-y;
    background-size: cover; }
    .body-rosca main {
      padding-top: 2%; }
      .body-rosca main h1 {
        text-align: center; }
      .body-rosca main .menu__desplegable {
        margin: 0px;
        width: 0px; }
        .body-rosca main .menu__desplegable #nav__height1 {
          height: 300px;
          padding: 5%; }
        .body-rosca main .menu__desplegable #nav__height2 {
          height: 300px;
          padding: 5%; }
        .body-rosca main .menu__desplegable #nav__height3 {
          height: 140px;
          padding: 5%; }
        .body-rosca main .menu__desplegable #nav__height4 {
          height: 280px;
          padding: 5%; }
        .body-rosca main .menu__desplegable #nav__height5 {
          height: 130px;
          padding: 5%; }
        .body-rosca main .menu__desplegable .nav {
          display: inline-block; }
          .body-rosca main .menu__desplegable .nav .m1 {
            background-color: #a31cb4;
            width: 300px;
            text-align: center; }
          .body-rosca main .menu__desplegable .nav .m2 {
            background-color: #e956d5;
            width: 300px;
            text-align: center; }
          .body-rosca main .menu__desplegable .nav .m3 {
            background-color: #2956ac;
            width: 300px;
            text-align: center; }
          .body-rosca main .menu__desplegable .nav .m4 {
            background-color: #7eca74;
            width: 300px;
            text-align: center; }
          .body-rosca main .menu__desplegable .nav .m5 {
            background-color: #e0de53;
            width: 300px;
            text-align: center; }
          .body-rosca main .menu__desplegable .nav li {
            list-style: none;
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            padding-left: 0;
            float: left;
            position: relative;
            font-size: .8rem; }
            .body-rosca main .menu__desplegable .nav li:hover > ul {
              display: block; }
            .body-rosca main .menu__desplegable .nav li a {
              width: 100px;
              text-decoration: none;
              color: #ffffff;
              padding: 3% 5%;
              display: block;
              text-align: center;
              font-size: .9rem; }
            .body-rosca main .menu__desplegable .nav li ul {
              display: none;
              position: absolute;
              top: 100%;
              left: 0;
              padding: 0px;
              width: 40px; }
              .body-rosca main .menu__desplegable .nav li ul li {
                position: relative;
                float: none; }
                .body-rosca main .menu__desplegable .nav li ul li .m1__item {
                  background-color: #ffffff;
                  color: #a31cb4;
                  border: 2px solid #a31cb4;
                  font-size: .9rem;
                  width: 300px;
                  height: 40px;
                  padding-top: 25%; }
                .body-rosca main .menu__desplegable .nav li ul li .m2__item {
                  background-color: #ffffff;
                  color: #e956d5;
                  border: 2px solid #e956d5;
                  font-size: .9rem;
                  width: 300px;
                  height: 40px;
                  padding-top: 25%; }
                .body-rosca main .menu__desplegable .nav li ul li .m3__item {
                  background-color: #ffffff;
                  color: #2956ac;
                  border: 2px solid #2956ac;
                  font-size: .9rem;
                  width: 300px;
                  height: 40px;
                  padding-top: 25%; }
                .body-rosca main .menu__desplegable .nav li ul li .m4__item {
                  background-color: #ffffff;
                  color: #7eca74;
                  border: 2px solid #7eca74;
                  font-size: .9rem;
                  width: 300px;
                  height: 40px;
                  padding-top: 25%; }
                .body-rosca main .menu__desplegable .nav li ul li .m5__item {
                  background-color: #ffffff;
                  color: #e0de53;
                  border: 2px solid #e0de53;
                  font-size: .9rem;
                  width: 300px;
                  height: 40px;
                  padding-top: 25%; }
              .body-rosca main .menu__desplegable .nav li ul ul {
                left: 500%;
                top: 0px; }
                .body-rosca main .menu__desplegable .nav li ul ul li {
                  width: 300px; }
  /*HTML CONEXIÓN*/
  .body-conexion {
    background-image: url("../imagenes/fondo gris.png");
    background-repeat: repeat-y;
    background-size: cover; }
    .body-conexion main h1 {
      text-align: center; }
    .body-conexion main .menu__desplegable--conexion {
      margin: 0px;
      width: 0px; }
      .body-conexion main .menu__desplegable--conexion #nav__height1 {
        height: 270px; }
      .body-conexion main .menu__desplegable--conexion #nav__height2 {
        height: 450px;
        width: 400px;
        padding: 8%; }
      .body-conexion main .menu__desplegable--conexion .nav {
        display: block; }
        .body-conexion main .menu__desplegable--conexion .nav .m1 {
          width: 130px;
          height: 50px; }
        .body-conexion main .menu__desplegable--conexion .nav .m2 {
          width: 130px;
          height: 50px; }
        .body-conexion main .menu__desplegable--conexion .nav li {
          list-style: none;
          text-decoration: none;
          color: #ffffff;
          font-weight: bold;
          font-size: .7rem;
          padding-left: 0;
          float: left;
          position: relative; }
          .body-conexion main .menu__desplegable--conexion .nav li:hover > ul {
            display: block; }
          .body-conexion main .menu__desplegable--conexion .nav li a {
            width: 80px;
            text-decoration: none;
            color: #ffffff;
            padding: 3% 5%;
            background-color: #464345;
            display: block;
            text-align: center;
            border: 2px solid #ffffff;
            font-size: .8rem; }
            .body-conexion main .menu__desplegable--conexion .nav li a:hover {
              background-color: #5552528e; }
          .body-conexion main .menu__desplegable--conexion .nav li ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0px;
            width: 80px; }
            .body-conexion main .menu__desplegable--conexion .nav li ul li {
              position: relative;
              float: none;
              width: 300px; }
              .body-conexion main .menu__desplegable--conexion .nav li ul li ul {
                left: 43%;
                top: 0px; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .sub3 {
                  left: 60%;
                  top: 0px; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul li {
                  width: 80px; }
                  .body-conexion main .menu__desplegable--conexion .nav li ul li ul li #sub3_1 {
                    width: 40px;
                    left: 60%;
                    top: 0px; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m1__item {
                  background-color: #a31cb4;
                  color: #ffffff;
                  border: 2px solid #ffffff;
                  width: 80px;
                  font-size: .8rem;
                  height: 30px; }
                  .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m1__item:hover {
                    background-color: #a21cb4b4;
                    color: #ffffff; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m2__item {
                  background-color: #e956d5;
                  color: #ffffff;
                  border: 2px solid #ffffff;
                  font-size: .8rem;
                  width: 80px;
                  height: 30px; }
                  .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m2__item:hover {
                    background-color: #e956d5b7;
                    color: #ffffff; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m3__item {
                  background-color: #2956ac;
                  color: #ffffff;
                  border: 2px solid #ffffff;
                  font-size: .8rem;
                  width: 80px;
                  height: 30px; }
                  .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m3__item:hover {
                    background-color: #2957acb2;
                    color: #ffffff; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m4__item {
                  background-color: #7eca74;
                  color: #ffffff;
                  border: 2px solid #ffffff;
                  font-size: .8rem;
                  width: 80px;
                  height: 30px; }
                  .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m4__item:hover {
                    background-color: #7eca74af;
                    color: #ffffff; }
                .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m5__item {
                  background-color: #e0de53;
                  color: #ffffff;
                  border: 2px solid #ffffff;
                  font-size: .8rem;
                  width: 80px;
                  height: 30px; }
                  .body-conexion main .menu__desplegable--conexion .nav li ul li ul .m5__item:hover {
                    background-color: #e0de53b4;
                    color: #ffffff; } }

.grid__footer {
  bottom: 0%;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  color: #085c94;
  font-weight: bold;
  background-color: #ffffff;
  opacity: 0.6;
  font-size: 0.8rem;
  display: grid;
  position: fixed;
  grid-template: 25px 25px 25px 25px 25px / 1fr 1fr 1fr 1fr;
  grid-template-areas: "direccion  .   .   ." "telefono   telefono seguinos seguinos" "horario  horario   .   ." "email email   .   logo" "web  web  .    ."; }
  .grid__footer .direccion {
    grid-area: direccion;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center; }
    .grid__footer .direccion ion-icon {
      width: 20px;
      height: 20px; }
    .grid__footer .direccion p {
      margin-left: 20px; }
  .grid__footer .telefono {
    grid-area: telefono;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center; }
    .grid__footer .telefono ion-icon {
      width: 20px;
      height: 20px; }
    .grid__footer .telefono p {
      margin-left: 20px; }
  .grid__footer .horario {
    grid-area: horario;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center; }
    .grid__footer .horario ion-icon {
      width: 20px;
      height: 20px; }
    .grid__footer .horario p {
      margin-left: 20px; }
  .grid__footer .email {
    grid-area: email;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center; }
    .grid__footer .email ion-icon {
      width: 20px;
      height: 20px; }
    .grid__footer .email p {
      margin-left: 20px; }
  .grid__footer .web {
    grid-area: web;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center; }
    .grid__footer .web ion-icon {
      width: 20px;
      height: 20px; }
    .grid__footer .web p {
      margin-left: 20px; }
      .grid__footer .web p a {
        text-decoration: none;
        font-size: 0.8rem;
        grid-area: web;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0; }
  .grid__footer .seguinos {
    text-align: end;
    grid-area: seguinos;
    font-size: 0.9rem;
    padding-right: 3%; }
  .grid__footer .logo {
    grid-area: logo; }
    .grid__footer .logo .rrss {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-left: 40%; }

@media only screen and (max-width: 600px) {
  .grid__footer {
    bottom: 0%;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    color: #085c94;
    font-weight: bold;
    background-color: #ffffff;
    opacity: 0.6;
    font-size: 0.8rem;
    display: grid;
    grid-template: 18px 18px 18px 18px 18px / 1fr 1fr;
    grid-template-areas: "direccion  .   " "telefono   telefono" "horario  seguinos" "email   logo" "web    .";
    font-size: 0.5rem; }
    .grid__footer .direccion {
      grid-area: direccion;
      display: flex;
      flex-direction: row;
      margin-left: 10px; }
      .grid__footer .direccion ion-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0; }
      .grid__footer .direccion p {
        margin-left: 10px;
        font-size: 0.65rem;
        text-align: left;
        margin-bottom: 0; }
    .grid__footer .telefono {
      grid-area: telefono;
      display: flex;
      flex-direction: row;
      margin-left: 10px; }
      .grid__footer .telefono ion-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0; }
      .grid__footer .telefono p {
        margin-left: 10px;
        font-size: 0.65rem;
        text-align: left;
        margin-bottom: 0; }
    .grid__footer .horario {
      grid-area: horario;
      display: flex;
      flex-direction: row;
      margin-left: 10px; }
      .grid__footer .horario ion-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0; }
      .grid__footer .horario p {
        margin-left: 10px;
        font-size: 0.65rem;
        text-align: left;
        margin-bottom: 0; }
    .grid__footer .email {
      grid-area: email;
      display: flex;
      flex-direction: row;
      margin-left: 10px; }
      .grid__footer .email ion-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0; }
      .grid__footer .email p {
        margin-left: 10px;
        font-size: 0.65rem;
        text-align: left;
        margin-bottom: 0; }
    .grid__footer .web {
      grid-area: web;
      display: flex;
      flex-direction: row;
      margin-left: 10px; }
      .grid__footer .web ion-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0; }
      .grid__footer .web p {
        margin-left: 10px;
        font-size: 0.65rem;
        text-align: left;
        margin-bottom: 0; }
        .grid__footer .web p a {
          text-decoration: none;
          font-size: 0.65rem;
          grid-area: web;
          display: flex;
          flex-direction: row;
          margin: 0;
          margin-bottom: 0; }
    .grid__footer .seguinos {
      text-align: end;
      grid-area: seguinos;
      font-size: 0.65rem;
      padding-right: 7%; }
    .grid__footer .logo {
      grid-area: logo;
      margin-right: 60px; }
      .grid__footer .logo .rrss {
        display: flex;
        flex-direction: row; }
        .grid__footer .logo .rrss img {
          margin-top: 5%;
          width: 27px;
          height: 27px; } }
