@charset "UTF-8";
:root {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%; }

.bodyIndex {
  overflow-x: hidden;
  width: 100%;
  font-size: 120%; }
  .bodyIndex main {
    width: 100%;
    height: auto; }
    .bodyIndex main .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .bodyIndex main .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .bodyIndex main .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86; }
        .bodyIndex main .inicio .topnav .navbar .navbar-toggler .navbar-toggler-icon {
          color: white !important; }
      .bodyIndex main .inicio .topnav .navbar .navbar-nav {
        background: none; }
        .bodyIndex main .inicio .topnav .navbar .navbar-nav a {
          color: #3e5a86;
          font-weight: bold;
          text-align: end;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0; }
          .bodyIndex main .inicio .topnav .navbar .navbar-nav a:hover {
            background: #3e5a86b9;
            color: #fff; }
    .bodyIndex main .container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%; }
      .bodyIndex main .container img {
        margin: auto;
        width: 90%;
        height: auto;
        padding: 5% 2% 0% 4%; }
      .bodyIndex main .container .titulo {
        margin: auto;
        margin-top: 12%; }
        .bodyIndex main .container .titulo #h1 {
          text-align: center;
          padding-right: 0% 0% 2% 0%;
          color: #3e5a86;
          font-weight: 500;
          font-size: 220%;
          margin-right: 0; }
      .bodyIndex main .container .cuadro1, .bodyIndex main .container .cuadro2, .bodyIndex main .container .cuadro3 {
        box-sizing: border-box;
        width: 75%;
        height: 80px;
        justify-content: center;
        transition: all 1s;
        border-radius: 0px;
        background: #3e5a86;
        display: flex;
        margin: auto;
        margin-top: 2.5%; }
        .bodyIndex main .container .cuadro1 a, .bodyIndex main .container .cuadro2 a, .bodyIndex main .container .cuadro3 a {
          outline: none;
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem;
          font-weight: bolder;
          text-align: center;
          align-self: center; }
      .bodyIndex main .container .cuadro1:hover, .bodyIndex main .container .cuadro2:hover, .bodyIndex main .container .cuadro3:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer; }
      .bodyIndex main .container .cuadro2:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer; }
      .bodyIndex main .container .cuadro3:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer; }
      .bodyIndex main .container .calibre {
        width: 100%; }
        .bodyIndex main .container .calibre h2 {
          text-align: center;
          font-size: 200%;
          margin-top: 0;
          padding-top: 0;
          color: #3e5a86; }
        .bodyIndex main .container .calibre p {
          text-align: center;
          font-size: 150%;
          padding-top: 1%;
          color: #3e5a86; }
        .bodyIndex main .container .calibre .img {
          text-align: center;
          width: 75%;
          height: auto;
          margin: auto; }
          .bodyIndex main .container .calibre .img img {
            padding-top: 0 !important; }

/*HTML ROSCA*/
.body-rosca {
  overflow-x: hidden;
  width: 100%;
  font-size: 120%; }
  .body-rosca main {
    width: 100%;
    height: auto; }
    .body-rosca main .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .body-rosca main .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .body-rosca main .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86; }
        .body-rosca main .inicio .topnav .navbar .navbar-toggler .navbar-toggler-icon {
          color: white !important; }
      .body-rosca main .inicio .topnav .navbar .navbar-nav {
        background: none; }
        .body-rosca main .inicio .topnav .navbar .navbar-nav a {
          color: #3e5a86;
          font-weight: bold;
          text-align: end;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0; }
          .body-rosca main .inicio .topnav .navbar .navbar-nav a:hover {
            background: #3e5a86b9;
            color: #fff; }
    .body-rosca main .container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%; }
      .body-rosca main .container img {
        margin: auto;
        width: 90%;
        height: auto;
        padding: 5% 2% 0% 4%; }
      .body-rosca main .container .titulo {
        margin: auto;
        margin-top: 12%; }
        .body-rosca main .container .titulo #h1 {
          text-align: center;
          padding-right: 0% 0% 2% 0%;
          color: #3e5a86;
          font-weight: 500;
          font-size: 220%;
          margin-right: 0; }
      .body-rosca main .container .menu__desplegable {
        margin: auto;
        padding-top: 3%; }
        .body-rosca main .container .menu__desplegable .nav {
          font-size: 105%; }
          .body-rosca main .container .menu__desplegable .nav .m1 {
            text-decoration: none;
            background-color: #4f2f7a;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block; }
            .body-rosca main .container .menu__desplegable .nav .m1 ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff; }
              .body-rosca main .container .menu__desplegable .nav .m1 ul .m1 {
                text-decoration: none;
                background-color: #4f2f7a;
                width: 100%;
                font-weight: bold;
                color: #ffffff;
                text-align: center;
                padding: 2% 0% 2% 0%;
                margin: 2% 0% 2% 0%;
                display: block; }
                .body-rosca main .container .menu__desplegable .nav .m1 ul .m1 ul {
                  padding: 0;
                  margin: 0%;
                  top: 100%;
                  left: 0;
                  height: auto;
                  display: none;
                  background: #fff; }
              .body-rosca main .container .menu__desplegable .nav .m1 ul li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                text-align: left;
                float: none;
                margin: 5px;
                padding: 2% 0% 2% 0%; }
                .body-rosca main .container .menu__desplegable .nav .m1 ul li .m1__item {
                  display: block;
                  text-decoration: none;
                  list-style-type: none;
                  background-color: #ffffff;
                  color: #4f2f7a;
                  font-size: 1rem;
                  padding: 2% 4% 2% 4%;
                  font-size: 1rem; }
                  .body-rosca main .container .menu__desplegable .nav .m1 ul li .m1__item:hover {
                    background-color: #4f2f7ab2;
                    color: #ffffff; }
                  .body-rosca main .container .menu__desplegable .nav .m1 ul li .m1__item span {
                    margin-left: 10px; }
          .body-rosca main .container .menu__desplegable .nav .m2 {
            text-decoration: none;
            background-color: #ee2556;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block; }
            .body-rosca main .container .menu__desplegable .nav .m2 ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff; }
              .body-rosca main .container .menu__desplegable .nav .m2 ul li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                font-size: 1rem;
                text-align: left;
                float: none;
                margin: 5px;
                padding: 2% 0% 2% 0%; }
                .body-rosca main .container .menu__desplegable .nav .m2 ul li .m2__item {
                  display: block;
                  text-decoration: none;
                  list-style-type: none;
                  background-color: #ffffff;
                  color: #ee2556;
                  font-size: 1rem;
                  padding: 2% 4% 2% 4%; }
                  .body-rosca main .container .menu__desplegable .nav .m2 ul li .m2__item:hover {
                    background-color: #ee2557a8;
                    color: #ffffff; }
                  .body-rosca main .container .menu__desplegable .nav .m2 ul li .m2__item span {
                    margin-left: 10px; }
          .body-rosca main .container .menu__desplegable .nav .m3 {
            text-decoration: none;
            background-color: #161fcb;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block; }
            .body-rosca main .container .menu__desplegable .nav .m3 ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff; }
              .body-rosca main .container .menu__desplegable .nav .m3 ul li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                font-size: 1rem;
                text-align: left;
                float: none;
                margin: 5px;
                padding: 2% 0% 2% 0%; }
                .body-rosca main .container .menu__desplegable .nav .m3 ul li .m3__item {
                  display: block;
                  text-decoration: none;
                  list-style-type: none;
                  background-color: #ffffff;
                  color: #161fcb;
                  font-size: 1rem;
                  padding: 2% 4% 2% 4%; }
                  .body-rosca main .container .menu__desplegable .nav .m3 ul li .m3__item:hover {
                    background-color: #161fcbad;
                    color: #ffffff; }
                  .body-rosca main .container .menu__desplegable .nav .m3 ul li .m3__item span {
                    margin-left: 10px; }
          .body-rosca main .container .menu__desplegable .nav .m4 {
            text-decoration: none;
            background-color: #08a908;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block; }
            .body-rosca main .container .menu__desplegable .nav .m4 ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff; }
              .body-rosca main .container .menu__desplegable .nav .m4 ul li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                font-size: 1rem;
                text-align: left;
                float: none;
                margin: 5px;
                padding: 2% 0% 2% 0%; }
                .body-rosca main .container .menu__desplegable .nav .m4 ul li .m4__item {
                  display: block;
                  text-decoration: none;
                  list-style-type: none;
                  background-color: #ffffff;
                  color: #08a908;
                  font-size: 1rem;
                  padding: 2% 4% 2% 4%; }
                  .body-rosca main .container .menu__desplegable .nav .m4 ul li .m4__item:hover {
                    background-color: #08a908a9;
                    color: #ffffff; }
                  .body-rosca main .container .menu__desplegable .nav .m4 ul li .m4__item span {
                    margin-left: 10px; }
          .body-rosca main .container .menu__desplegable .nav .m5 {
            text-decoration: none;
            background-color: #fce221;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block; }
            .body-rosca main .container .menu__desplegable .nav .m5 ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff; }
              .body-rosca main .container .menu__desplegable .nav .m5 ul li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                font-size: 1rem;
                text-align: left;
                float: none;
                margin: 5px;
                padding: 2% 0% 2% 0%; }
                .body-rosca main .container .menu__desplegable .nav .m5 ul li .m5__item {
                  display: block;
                  text-decoration: none;
                  list-style-type: none;
                  background-color: #ffffff;
                  color: #fce221;
                  font-size: 1rem;
                  padding: 2% 4% 2% 4%; }
                  .body-rosca main .container .menu__desplegable .nav .m5 ul li .m5__item:hover {
                    background-color: #fce221d8;
                    color: #ffffff; }
                  .body-rosca main .container .menu__desplegable .nav .m5 ul li .m5__item span {
                    margin-left: 10px; }

/*HTML CONEXIÓN*/
.body-conexion {
  width: 100%;
  overflow-x: hidden;
  font-size: 120%; }
  .body-conexion main {
    width: 100%;
    padding-bottom: 15%; }
    .body-conexion main .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .body-conexion main .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .body-conexion main .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86; }
        .body-conexion main .inicio .topnav .navbar .navbar-toggler .navbar-toggler-icon {
          color: white !important; }
      .body-conexion main .inicio .topnav .navbar .navbar-nav {
        background: none; }
        .body-conexion main .inicio .topnav .navbar .navbar-nav a {
          color: #3e5a86;
          font-weight: bold;
          text-align: end;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0; }
          .body-conexion main .inicio .topnav .navbar .navbar-nav a:hover {
            background: #3e5a86b9;
            color: #fff; }
    .body-conexion main .container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%; }
      .body-conexion main .container img {
        margin: auto;
        width: 90%;
        height: auto;
        padding: 5% 2% 0% 4%; }
      .body-conexion main .container .titulo {
        margin: auto;
        margin-top: 12%; }
        .body-conexion main .container .titulo #h1 {
          text-align: center;
          padding-right: 0% 0% 2% 0%;
          color: #3e5a86;
          font-weight: 500;
          font-size: 220%;
          margin-right: 0; }
      .body-conexion main .container .menu__desplegable--conexion {
        margin: auto;
        padding-top: 3%;
        width: 80%; }
        .body-conexion main .container .menu__desplegable--conexion .nav {
          font-size: 105%; }
          .body-conexion main .container .menu__desplegable--conexion .nav .m1 {
            text-decoration: none;
            background-color: #3e5a86;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block; }
            .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul {
              padding: 0%;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff;
              display: none;
              list-style: none; }
              .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m2__item {
                display: block;
                text-decoration: none;
                list-style-type: none;
                background-color: #ffffff;
                color: #ee2556;
                font-size: 1.2rem;
                padding: 2% 4% 2% 2%;
                height: 40px; }
                .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m2__item:hover {
                  background-color: #ee2557a8;
                  color: #ffffff; }
                .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m2__item span {
                  margin-left: 10px; }
              .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 {
                text-decoration: none;
                background-color: #8695b8;
                width: 100%;
                font-weight: bold;
                color: #ffffff;
                text-align: center;
                padding: 2% 0% 2% 0%;
                margin: 2% 0% 2% 0%;
                display: block;
                text-decoration: none;
                list-style-type: none; }
                .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul {
                  padding: 0%;
                  margin: 0%;
                  top: 100%;
                  left: 0;
                  height: auto;
                  display: none;
                  background: #fff;
                  display: none; }
                  .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m1__item {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: #ffffff;
                    color: #4f2f7a;
                    font-size: 1.2rem;
                    padding: 2% 4% 2% 2%;
                    height: 40px; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m1__item:hover {
                      background-color: #4f2f7ab2;
                      color: #ffffff; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m1__item span {
                      margin-left: 10px; }
                  .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m2__item {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: #ffffff;
                    color: #ee2556;
                    font-size: 1.2rem;
                    padding: 2% 4% 2% 2%;
                    height: 40px; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m2__item:hover {
                      background-color: #ee2557a8;
                      color: #ffffff; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m2__item span {
                      margin-left: 10px; }
                  .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m4__item {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: #ffffff;
                    color: #08a908;
                    font-size: 1.2rem;
                    padding: 2% 4% 2% 2%;
                    height: 40px; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m4__item:hover {
                      background-color: #08a908a9;
                      color: #ffffff; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m4__item span {
                      margin-left: 10px; }
                  .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m5__item {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: #ffffff;
                    color: #fce221;
                    font-size: 1.2rem;
                    padding: 2% 4% 2% 2%;
                    height: 40px; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m5__item:hover {
                      background-color: #fce221d8;
                      color: #ffffff; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m1 ul .m1 ul .m5__item span {
                      margin-left: 10px; }
          .body-conexion main .container .menu__desplegable--conexion .nav .m2 {
            text-decoration: none;
            background-color: #3e5a86;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block; }
            .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff;
              display: none;
              list-style: none; }
              .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 {
                text-decoration: none;
                background-color: #3e5a86;
                width: 100%;
                font-weight: bold;
                color: #ffffff;
                text-align: center;
                padding: 2% 0% 2% 0%;
                margin: 2% 0% 2% 0%;
                display: block;
                text-decoration: none;
                list-style-type: none; }
                .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul {
                  padding: 0;
                  margin: 0%;
                  top: 100%;
                  left: 0;
                  height: auto;
                  display: none;
                  background: #fff;
                  display: none; }
                  .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2 {
                    text-decoration: none;
                    background-color: #8695b8;
                    width: 100%;
                    font-weight: bold;
                    color: #ffffff;
                    text-align: center;
                    padding: 2% 0% 2% 0%;
                    margin: 2% 0% 2% 0%;
                    display: block; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2 ul {
                      padding: 0;
                      margin: 0%;
                      top: 100%;
                      left: 0;
                      height: auto;
                      display: none;
                      background: #fff;
                      display: none; }
                      .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2 ul .m1__item {
                        display: block;
                        text-decoration: none;
                        list-style-type: none;
                        background-color: #ffffff;
                        color: #4f2f7a;
                        font-size: 1.2rem;
                        padding: 2% 4% 2% 2%;
                        height: 40px; }
                        .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2 ul .m1__item:hover {
                          background-color: #4f2f7ab2;
                          color: #ffffff; }
                        .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2 ul .m1__item span {
                          margin-left: 10px; }
                      .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2 ul .m2__item {
                        display: block;
                        text-decoration: none;
                        list-style-type: none;
                        background-color: #ffffff;
                        color: #ee2556;
                        font-size: 1.2rem;
                        padding: 2% 4% 2% 2%;
                        height: 40px; }
                        .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2 ul .m2__item:hover {
                          background-color: #ee2557a8;
                          color: #ffffff; }
                        .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2 ul .m2__item span {
                          margin-left: 10px; }
                  .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2__item {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: #ffffff;
                    color: #ee2556;
                    font-size: 1.2rem;
                    padding: 2% 4% 2% 2%;
                    height: 40px; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2__item:hover {
                      background-color: #ee2557a8;
                      color: #ffffff; }
                    .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m2 ul .m2__item span {
                      margin-left: 10px; }
              .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m1__item {
                display: block;
                text-decoration: none;
                list-style-type: none;
                background-color: #ffffff;
                color: #4f2f7a;
                font-size: 1.2rem;
                padding: 2% 4% 2% 2%;
                height: 40px; }
                .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m1__item:hover {
                  background-color: #4f2f7ab2;
                  color: #ffffff; }
                .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m1__item span {
                  margin-left: 10px; }
              .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m4__item {
                display: block;
                text-decoration: none;
                list-style-type: none;
                background-color: #ffffff;
                color: #08a908;
                font-size: 1.2rem;
                padding: 2% 4% 2% 2%;
                height: 40px; }
                .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m4__item:hover {
                  background-color: #08a908a9;
                  color: #ffffff; }
                .body-conexion main .container .menu__desplegable--conexion .nav .m2 ul .m4__item span {
                  margin-left: 10px; }
          .body-conexion main .container .menu__desplegable--conexion .nav .m3__item {
            display: block;
            text-decoration: none;
            list-style-type: none;
            background-color: #ffffff;
            color: #161fcb;
            font-size: 1.2rem;
            padding: 2% 4% 2% 4%;
            height: 40px; }
            .body-conexion main .container .menu__desplegable--conexion .nav .m3__item:hover {
              background-color: #161fcbad;
              color: #ffffff; }
            .body-conexion main .container .menu__desplegable--conexion .nav .m3__item span {
              margin-left: 10px; }

/*HTML PERIAPICAL*/
.body-periapical {
  width: 100%;
  overflow-x: hidden;
  font-size: 120%; }
  .body-periapical main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto; }
    .body-periapical main .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .body-periapical main .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .body-periapical main .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86; }
        .body-periapical main .inicio .topnav .navbar .navbar-toggler .navbar-toggler-icon {
          color: white !important; }
      .body-periapical main .inicio .topnav .navbar .navbar-nav {
        background: none; }
        .body-periapical main .inicio .topnav .navbar .navbar-nav a {
          color: #3e5a86;
          font-weight: bold;
          text-align: end;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0; }
          .body-periapical main .inicio .topnav .navbar .navbar-nav a:hover {
            background: #3e5a86b9;
            color: #fff; }
    .body-periapical main .container-fluid .titulo {
      text-align: center;
      padding-bottom: 5%; }
      .body-periapical main .container-fluid .titulo #h1 {
        padding-right: 0;
        padding-top: 0;
        color: #3e5a86;
        font-weight: 500;
        font-size: 220%; }

.body-periapicalIndividual {
  width: 100%;
  overflow-x: hidden; }
  .body-periapicalIndividual main {
    margin-bottom: 100px; }
    .body-periapicalIndividual main .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .body-periapicalIndividual main .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .body-periapicalIndividual main .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86; }
        .body-periapicalIndividual main .inicio .topnav .navbar .navbar-toggler .navbar-toggler-icon {
          color: white !important; }
      .body-periapicalIndividual main .inicio .topnav .navbar .navbar-nav {
        background: none; }
        .body-periapicalIndividual main .inicio .topnav .navbar .navbar-nav a {
          color: #3e5a86;
          font-weight: bold;
          text-align: end;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0; }
          .body-periapicalIndividual main .inicio .topnav .navbar .navbar-nav a:hover {
            background: #3e5a86b9;
            color: #fff; }
    .body-periapicalIndividual main .container-fluid {
      width: 80%;
      margin: auto; }
      .body-periapicalIndividual main .container-fluid .card {
        justify-content: center;
        width: 80%;
        height: auto;
        margin: auto; }
        .body-periapicalIndividual main .container-fluid .card .card-body .card-title {
          font-size: 100%;
          font-weight: bold;
          color: #3e5a86;
          padding-bottom: 1%;
          text-align: center !important; }
        .body-periapicalIndividual main .container-fluid .card .card-body img {
          width: 70%;
          height: auto;
          margin-top: 5%; }
        .body-periapicalIndividual main .container-fluid .card .card-footer {
          margin: auto;
          background: none;
          border-top: none;
          padding: 3%; }
          .body-periapicalIndividual main .container-fluid .card .card-footer .btn,
          .body-periapicalIndividual main .container-fluid .card .card-footer .btn-primary {
            background-color: #3e5a86 !important;
            color: #fff !important;
            border-color: #3e5a86 !important;
            justify-content: center !important;
            align-items: center !important; }

@media (max-width: 575.98px) {
  .bodyIndex {
    font-size: 100%; }
    .bodyIndex .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .bodyIndex .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .bodyIndex .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86;
        color: white !important; }
      .bodyIndex .inicio .topnav .navbar .navbar-nav {
        background: #3e5a86ce !important; }
        .bodyIndex .inicio .topnav .navbar .navbar-nav a {
          color: #fff !important;
          font-weight: bold;
          text-align: center !important;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0;
          width: 20% !important; }
          .bodyIndex .inicio .topnav .navbar .navbar-nav a:hover {
            background: none !important;
            color: none !important; }
    .bodyIndex .container img {
      margin: auto;
      width: 50%;
      height: auto;
      padding: 5% 2% 0% 4%; }
    .bodyIndex .container .titulo {
      margin: auto;
      margin-top: 0%; }
    .bodyIndex .container .calibre p {
      text-align: center;
      font-size: 100%;
      padding-top: 1%;
      color: #3e5a86; }
  .body-rosca {
    font-size: 100%; }
    .body-rosca .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .body-rosca .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .body-rosca .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86;
        color: white !important; }
      .body-rosca .inicio .topnav .navbar .navbar-nav {
        background: #3e5a86ce !important; }
        .body-rosca .inicio .topnav .navbar .navbar-nav a {
          color: #fff !important;
          font-weight: bold;
          text-align: center !important;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0;
          width: 20% !important; }
          .body-rosca .inicio .topnav .navbar .navbar-nav a:hover {
            background: none !important;
            color: none !important; }
    .body-rosca .container img {
      margin: auto;
      width: 50%;
      height: auto;
      padding: 5% 2% 0% 4%; }
  .body-conexion {
    font-size: 100%; }
    .body-conexion .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .body-conexion .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .body-conexion .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86;
        color: white !important; }
      .body-conexion .inicio .topnav .navbar .navbar-nav {
        background: #3e5a86ce !important; }
        .body-conexion .inicio .topnav .navbar .navbar-nav a {
          color: #fff !important;
          font-weight: bold;
          text-align: center !important;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0;
          width: 20% !important; }
          .body-conexion .inicio .topnav .navbar .navbar-nav a:hover {
            background: none !important;
            color: none !important; }
    .body-conexion .container img {
      margin: auto;
      width: 50%;
      height: auto;
      padding: 5% 2% 0% 4%; }
  .body-periapical .inicio .topnav .logo {
    float: left;
    position: relative;
    margin: 1%; }
  .body-periapical .inicio .topnav .navbar {
    padding: 2% !important;
    border: none !important;
    box-shadow: none !important;
    background-color: #fff !important; }
    .body-periapical .inicio .topnav .navbar .navbar-toggler {
      background: #3e5a86;
      color: white !important; }
    .body-periapical .inicio .topnav .navbar .navbar-nav {
      background: #3e5a86ce !important; }
      .body-periapical .inicio .topnav .navbar .navbar-nav a {
        color: #fff !important;
        font-weight: bold;
        text-align: center !important;
        margin-right: 3% !important;
        text-decoration: none;
        font-size: 120%;
        margin-right: 0;
        width: 20% !important; }
        .body-periapical .inicio .topnav .navbar .navbar-nav a:hover {
          background: none !important;
          color: none !important; }
  .body-periapicalIndividual .inicio .topnav .logo {
    float: left;
    position: relative;
    margin: 1%; }
  .body-periapicalIndividual .inicio .topnav .navbar {
    padding: 2% !important;
    border: none !important;
    box-shadow: none !important;
    background-color: #fff !important; }
    .body-periapicalIndividual .inicio .topnav .navbar .navbar-toggler {
      background: #3e5a86;
      color: white !important; }
    .body-periapicalIndividual .inicio .topnav .navbar .navbar-nav {
      background: #3e5a86ce !important; }
      .body-periapicalIndividual .inicio .topnav .navbar .navbar-nav a {
        color: #fff !important;
        font-weight: bold;
        text-align: center !important;
        margin-right: 3% !important;
        text-decoration: none;
        font-size: 120%;
        margin-right: 0;
        width: 20% !important; }
        .body-periapicalIndividual .inicio .topnav .navbar .navbar-nav a:hover {
          background: none !important;
          color: none !important; } }

@media (min-width: 576px) and (max-width: 992px) {
  .bodyIndex {
    font-size: 100%; }
    .bodyIndex .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .bodyIndex .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .bodyIndex .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86;
        color: white !important; }
      .bodyIndex .inicio .topnav .navbar .navbar-nav {
        background: #3e5a86ce !important; }
        .bodyIndex .inicio .topnav .navbar .navbar-nav a {
          color: #fff !important;
          font-weight: bold;
          text-align: center !important;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0;
          width: 20% !important; }
          .bodyIndex .inicio .topnav .navbar .navbar-nav a:hover {
            background: none !important;
            color: none !important; }
    .bodyIndex .container img {
      margin: auto;
      width: 50%;
      height: auto;
      padding: 5% 2% 0% 4%; }
    .bodyIndex .container .calibre p {
      text-align: center;
      font-size: 100%;
      padding-top: 1%;
      color: #3e5a86; }
    .bodyIndex .container .calibre .img {
      width: 100%;
      height: auto; }
  .body-rosca {
    font-size: 100%; }
    .body-rosca .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .body-rosca .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .body-rosca .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86;
        color: white !important; }
      .body-rosca .inicio .topnav .navbar .navbar-nav {
        background: #3e5a86ce !important; }
        .body-rosca .inicio .topnav .navbar .navbar-nav a {
          color: #fff !important;
          font-weight: bold;
          text-align: center !important;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0;
          width: 20% !important; }
          .body-rosca .inicio .topnav .navbar .navbar-nav a:hover {
            background: none !important;
            color: none !important; }
    .body-rosca .container img {
      margin: auto;
      width: 50%;
      height: auto;
      padding: 5% 2% 0% 4%; }
  .body-conexion {
    font-size: 100%; }
    .body-conexion .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .body-conexion .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .body-conexion .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86;
        color: white !important; }
      .body-conexion .inicio .topnav .navbar .navbar-nav {
        background: #3e5a86ce !important; }
        .body-conexion .inicio .topnav .navbar .navbar-nav a {
          color: #fff !important;
          font-weight: bold;
          text-align: center !important;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0;
          width: 20% !important; }
          .body-conexion .inicio .topnav .navbar .navbar-nav a:hover {
            background: none !important;
            color: none !important; }
    .body-conexion .container img {
      margin: auto;
      width: 50%;
      height: auto;
      padding: 5% 2% 0% 4%;
      position: relative; }
  .body-periapical {
    font-size: 100%; }
    .body-periapical .inicio .topnav .logo {
      float: left;
      position: relative;
      margin: 1%; }
    .body-periapical .inicio .topnav .navbar {
      padding: 2% !important;
      border: none !important;
      box-shadow: none !important;
      background-color: #fff !important; }
      .body-periapical .inicio .topnav .navbar .navbar-toggler {
        background: #3e5a86;
        color: white !important; }
      .body-periapical .inicio .topnav .navbar .navbar-nav {
        background: #3e5a86ce !important; }
        .body-periapical .inicio .topnav .navbar .navbar-nav a {
          color: #fff !important;
          font-weight: bold;
          text-align: center !important;
          margin-right: 3% !important;
          text-decoration: none;
          font-size: 120%;
          margin-right: 0;
          width: 20% !important; }
          .body-periapical .inicio .topnav .navbar .navbar-nav a:hover {
            background: none !important;
            color: none !important; }
  .body-periapicalIndividual .inicio .topnav .logo {
    float: left;
    position: relative;
    margin: 1%; }
  .body-periapicalIndividual .inicio .topnav .navbar {
    padding: 2% !important;
    border: none !important;
    box-shadow: none !important;
    background-color: #fff !important; }
    .body-periapicalIndividual .inicio .topnav .navbar .navbar-toggler {
      background: #3e5a86;
      color: white !important; }
    .body-periapicalIndividual .inicio .topnav .navbar .navbar-nav {
      background: #3e5a86ce !important; }
      .body-periapicalIndividual .inicio .topnav .navbar .navbar-nav a {
        color: #fff !important;
        font-weight: bold;
        text-align: center !important;
        margin-right: 3% !important;
        text-decoration: none;
        font-size: 120%;
        margin-right: 0;
        width: 20% !important; }
        .body-periapicalIndividual .inicio .topnav .navbar .navbar-nav a:hover {
          background: none !important;
          color: none !important; } }

header {
  width: 50%; }
  header .wapp {
    margin-top: 100px;
    position: fixed;
    z-index: 2; }
    header .wapp img {
      width: 50px;
      height: 50px; }

@media (max-width: 575.98px) {
  header {
    width: 50%; }
    header .wapp {
      margin-top: 70px;
      position: fixed;
      z-index: 2; }
      header .wapp a {
        cursor: pointer;
        width: fit-content;
        height: fit-content; }
      header .wapp img {
        width: 50px;
        height: 50px; } }

footer {
  font-weight: bold;
  background-color: #3e5a86;
  color: #fff;
  font-size: 0.8rem; }
  footer .direccion {
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer .direccion ion-icon {
      width: 20px;
      height: 20px;
      margin: 8px 0px 0px 20px; }
    footer .direccion p {
      margin: 18px 0px 10px 20px;
      font-size: 1rem; }
  footer .telefono {
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer .telefono ion-icon {
      width: 20px;
      height: 20px;
      margin: 8px 0px 0px 20px; }
    footer .telefono p {
      margin: 18px 0px 10px 20px;
      font-size: 1rem; }
  footer .horario {
    align-items: center; }
    footer .horario ion-icon {
      width: 20px;
      height: 20px;
      margin: 8px 0px 0px 20px; }
    footer .horario p {
      margin: 18px 0px 10px 20px;
      font-size: 1rem; }
  footer .email {
    align-items: center; }
    footer .email ion-icon {
      width: 20px;
      height: 20px;
      margin: 8px 0px 0px 20px; }
    footer .email p {
      margin: 18px 0px 10px 20px;
      font-size: 1rem; }
  footer .web {
    align-items: center;
    color: #fff;
    position: relative; }
    footer .web ion-icon {
      width: 20px;
      height: 20px;
      margin: 8px 0px 0px 20px; }
    footer .web p {
      margin: 18px 0px 10px 20px; }
      footer .web p a {
        text-decoration: none;
        font-size: 1rem;
        padding: 0;
        color: #fff;
        margin-top: 34px; }
  footer .seguinos {
    font-size: 1rem;
    color: #fff; }
    footer .seguinos p {
      margin: 15px 0px 10px 20px; }
    footer .seguinos a {
      cursor: pointer; }
      footer .seguinos a ion-icon {
        width: 25px;
        height: 25px;
        color: #fff;
        margin: 10px 0px 0px 20px; }
