.grid__footer {
  bottom: 0%;
  padding: 0;
  width: 100%;
  color: rgb(5, 108, 177);
  font-weight: bold; 
  background-color:rgb(144, 203, 226);
  font-size: 0.8rem;
  display: grid;
  position: relative;
  grid-template: 20px 20px 20px 20px 20px / 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "direccion  .   .   ."
    "telefono   telefono seguinos seguinos"
    "horario  horario   .   ."
    "email email   .   logo"
    "web  web  .    .";

  .direccion {
    grid-area: direccion;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    margin: 2px 0px 0px 0px;
    
    ion-icon {
      width: 20px;
      height: 20px;
    }
    p {
      margin-left: 20px;
      margin-top: 12px;
    }
    

  }

  .telefono {
    grid-area: telefono;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    margin: 5px 0px 0px 0px;

    ion-icon {
      width: 20px;
      height: 20px;
    }

    p {
      margin-left: 20px;
      margin-top: 12px;
    }
  }

  .horario {
    grid-area: horario;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    margin: 5px 0px 0px 0px;

    ion-icon {
      width: 20px;
      height: 20px;
    }

    p {
      margin-left: 20px;
      margin-top: 12px;
    }
  }

  .email {
    grid-area: email;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    margin: 5px 0px 0px 0px;

    ion-icon {
      width: 20px;
      height: 20px;
    }
    p {
      margin-left: 20px;
      margin-top: 12px;
    }
  }

  .web {
    grid-area: web;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    margin: 5px 0px 0px 0px;

    ion-icon {
      width: 20px;
      height: 20px;
    }

    p {
      margin-left: 20px;

      a {
        text-decoration: none;
        font-size: 0.8rem;
        grid-area: web;
        display: flex;
        flex-direction: row;
        margin: 7px 0px 0px 0px;
        padding: 0;        
        color: rgb(5, 108, 177) ;
        
      }
    }
  }

  .seguinos {
    text-align: end;
    grid-area: seguinos;
    font-size: 1.1rem;
    padding-right: 3%;
  }
  .logo {
    grid-area: logo;
    .rrss {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-left: 40%;

      ion-icon {
        width: 30px;
        height: 30px;
        color: rgb(5, 108, 177);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .grid__footer {
    margin-top: 20%;
    margin-bottom: 0%;
    padding: 0;
    width: 100%;
    color: rgb(5, 108, 177);
    font-weight: bold;    
    background-color:rgb(144, 203, 226);   
    font-size: 1rem;
    display: grid;
    grid-template: 18px 18px 18px 18px 18px / 1fr 1fr;
    grid-template-areas:
      "direccion  .   "
      "telefono   telefono"
      "horario  seguinos"
      "email   logo"
      "web    .";
    font-size: 0.5rem;

    .direccion {
      grid-area: direccion;
      display: flex;
      flex-direction: row;
      margin-left: 10px;

      ion-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0;
      }
      p {
        margin-left: 10px;
        font-size: 0.85rem;
        text-align: left;
        margin-top: 18px;
      }
    }

    .telefono {
      grid-area: telefono;
      display: flex;
      flex-direction: row;
      margin-left: 10px;

      ion-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0;
      }
      p {
        margin-left: 10px;
        font-size: 0.85rem;
        text-align: left;
        margin-top: 18px;
      }
    }

    .horario {
      grid-area: horario;
      display: flex;
      flex-direction: row;
      margin-left: 10px;

      ion-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0;
      }
      p {
        margin-left: 10px;
        font-size: 0.85rem;
        text-align: left;
        margin-top: 18px;
      }
    }

    .email {
      grid-area: email;
      display: flex;
      flex-direction: row;
      margin-left: 10px;

      ion-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0;
      }
      p {
        margin-left: 10px;
        font-size: 0.85rem;
        text-align: left;
        margin-top: 18px;
      }
    }

    .web {
      grid-area: web;
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      padding-bottom: 20px;
      color: rgb(5, 108, 177) ;

      ion-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0;
        margin-top: 8px;
      }

      p {
        margin-left: 10px;
        font-size: 0.85rem;
        text-align: left;
        margin-top: 18px;
        

        a {
          text-decoration: none;
          font-size: 0.65rem;
          grid-area: web;
          display: flex;
          flex-direction: row;
          margin: 0;
          margin-top: 8px;
          color: rgb(5, 108, 177) ;
          
        }
      }
    }

    .seguinos {
      text-align: end;
      grid-area: seguinos;
      font-size: 0.85rem;
      padding-right: 7%;
    }
    .logo {
      grid-area: logo;
      margin-right: 40px;

      .rrss {
        display: flex;
        flex-direction: row;
        padding-left: 70%;
      }
    }
  }
}
