footer {
  font-weight: bold; 
  background-color:#3e5a86;
  color: #fff;
  font-size: 0.8rem;
  

  .direccion {
    display: flex;
    flex-direction: row;
    align-items: center;    
    
    ion-icon {
      width: 20px;
      height: 20px;
      margin: 8px 0px 0px 20px;
    }
    p {
      margin: 18px 0px 10px 20px;
      font-size: 1rem;
    }
    

  }

  .telefono {
    display: flex;
    flex-direction: row;    
    align-items: center;

    ion-icon {
      width: 20px;
      height: 20px;
      margin: 8px 0px 0px 20px;
    }

    p {
      margin: 18px 0px 10px 20px;
      font-size: 1rem;
    }
  }

  .horario { 
    align-items: center;

    ion-icon {
      width: 20px;
      height: 20px;
      margin: 8px 0px 0px 20px;
    }

    p {
      margin: 18px 0px 10px 20px;
      font-size: 1rem;
    }
  }

  .email {
    align-items: center;

    ion-icon {
      width: 20px;
      height: 20px;
      margin: 8px 0px 0px 20px;
    }
    p {
      margin: 18px 0px 10px 20px;
      font-size: 1rem;
    }
  }

  .web {  
    align-items: center;
    color: #fff ;   
    position: relative;

    ion-icon {
      width: 20px;
      height: 20px;
      margin: 8px 0px 0px 20px;
    }

    p {
      margin: 18px 0px 10px 20px;
      
     
      a {
        text-decoration: none;
        font-size: 1rem;     
        padding: 0;        
        color: #fff ;
        margin-top: 34px;
        
      }
    }
  }

  .seguinos {
    font-size: 1rem;
    color: #fff ;  

    p{ 
      margin: 15px 0px 10px 20px;
    }

    a{  
      
      cursor: pointer; 
      
      ion-icon {     
        width: 25px;
        height: 25px;  
        color: #fff;  
        margin: 10px 0px 0px 20px;
      }
      
    }
  }

}
