.grid__footer {
  padding-top: 1%;
  padding-bottom: 2%;
  width: 100%;
  font-weight: bold; 
  background-color:#3e5a86;
  color: #fff;
  font-size: 0.8rem;
  display: grid;
  position: relative;
  grid-template: 23px 23px 23px 23px 23px / 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "direccion  .   .   ."
    "telefono   telefono  . seguinos"
    "horario  horario  .  seguinos"
    "email email   .   ."
    "web  web  .    .";

  .direccion {
    grid-area: direccion;
    display: flex;
    flex-direction: row;
    align-items: center;    
    
    ion-icon {
      width: 20px;
      height: 20px;
      margin-left: 20px;
      margin-top: 10px;
    }
    p {
      margin-left: 20px;
      margin-top: 24px;
      font-size: 1rem;
    }
    

  }

  .telefono {
    grid-area: telefono;
    display: flex;
    flex-direction: row;    
    align-items: center;
    margin: 10px 0px 0px 0px;

    ion-icon {
      width: 20px;
      height: 20px;
      margin-left: 20px;
      margin-top: 14px;
    }

    p {
      margin-left: 20px;
      margin-top: 24px;
      font-size: 1rem;
    }
  }

  .horario {
    grid-area: horario;
    display: flex;
    flex-direction: row;    
    align-items: center;
    margin: 10px 0px 0px 0px;
    

    ion-icon {
      width: 20px;
      height: 20px;
      margin-left: 20px;
      margin-top: 16px;
    }

    p {
      margin-left: 20px;
      margin-top: 30px;
      font-size: 1rem;
    }
  }

  .email {
    grid-area: email;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    margin: 10px 0px 0px 0px;

    ion-icon {
      width: 20px;
      height: 20px;
      margin-left: 20px;
      margin-top: 18px;
    }
    p {
      margin-left: 20px;
      margin-top: 32px;
      font-size: 1rem;
    }
  }

  .web {
    grid-area: web;
    display: flex;
    flex-direction: row;   
    align-items: center;
    margin: 10px 0px 0px 0px;
    color: #fff ;
   

    ion-icon {
      width: 20px;
      height: 20px;
      margin-left: 20px;
      margin-top: 20px;
    }

    p {
      margin-left: 20px;
      
     
      a {
        text-decoration: none;
        font-size: 1rem;
        grid-area: web;
        display: flex;
        flex-direction: row;        
        padding: 0;        
        color: #fff ;
        margin-top: 34px;
        
      }
    }
  }

  .seguinos {
    text-align: end;
    grid-area: seguinos;
    font-size: 1.2rem;
    padding-right: 3%;
    display: block;
    position: relative
    ;

    p{
      margin-right: 5%;
    }

    a{  
      
      cursor: pointer; 
      
      ion-icon {     
        width: 35px;
        height: 35px;  
        color: #fff;
        padding-right: 5%;     
  
      }
      
    }
  }

}



@media (max-width: 575.98px){
  .grid__footer {
    padding-top: 1%;
    padding-bottom: 15%;
    width: 100%;
    font-weight: bold;    
    background-color:#3e5a86;
    color: #fff; 
    display: grid;
    grid-template: 18px 18px 18px 18px 18px 18px 18px /1.5fr 1fr;
    grid-template-areas:
      "direccion direccion"
      "telefono telefono"
      "horario horario"
      "email email"
      "web web"
      "seguinos seguinos";

    .direccion {
      grid-area: direccion;
      display: flex;
      flex-direction: row;      
      margin-left: 11%;
      padding-top: 4%;
      ion-icon {
        width: 22px;
        height: 22px;
        margin: 0;
        padding-top: 2%;
        
      }
      p {
        margin-left: 10px;
        font-size: 1.1rem;
        text-align: left;
        margin-top: 18px;        
      }
    }

    .telefono {
      grid-area: telefono;
      display: flex;
      flex-direction: row;
      margin-left: 11%;
      padding-top: 4%;

      ion-icon {
        width: 22px;
        height: 22px;
        margin: 0;
        padding-top: 2%;
        
      }
      p {
        margin-left: 10px;
        font-size: 1.1rem;
        text-align: left;
        margin-top: 18px;        
      }
    }

    .horario {
      grid-area: horario;
      display: flex;
      flex-direction: row;
      margin-left: 11%;
      padding-top: 5%;
      ion-icon {
        width: 22px;
        height: 22px;
        margin: 0;
        padding-top: 3%;
        
      }
      p {
        margin-left: 10px;
        font-size: 1.1rem;
        text-align: left;
        margin-top: 18px;        
      }
    }

    .email {
      grid-area: email;
      display: flex;
      flex-direction: row;
      margin-left: 11%;
      padding-top: 7%;

      ion-icon {
        width: 22px;
        height: 22px;
        margin: 0;
        padding-top: 4%;
        
      }
      p {
        margin-left: 10px;
        font-size: 1.1rem;
        text-align: left;
        margin-top: 18px;        
      }
    }

    .web {
      grid-area: web;
      display: flex;
      flex-direction: row;      
      padding-bottom: 20px;
      color: #fff ;
      margin-left: 11%;
      padding-top: 8%;

      ion-icon {
        width: 22px;
        height: 22px;
        margin: 0;
        padding-top: 4%;
        
      }
      p {
        margin-left: 10px;
        font-size: 1.1rem;
        text-align: left;
        margin-top: 18px;        
      

        a {
          text-decoration: none;
          font-size: 1.1rem;
          grid-area: web;
          display: flex;
          flex-direction: row;
          margin: 0;
          margin-top: 8px;
          color: #fff ;
          
        }
      }
    }

    .seguinos {
      text-align: start;
      grid-area: seguinos;
      font-size: 1.1rem;
      margin-left: 13%;
      padding-top: 13%;
      color: #fff; 
      display: flex;

      p{
        margin-right: 5%;
      }
      a{  
      
        cursor: pointer; 
        
        ion-icon {     
          width: 28px;
          height: 28px;  
          color: #fff;
          padding-right: 5%;     
    
        }
        
      }
      
    }
  
  }

}
