header{
  
    width: 50%;
    
 
    .wapp{
        margin-top: 100px;
        position: fixed;  
        z-index: 2;
        
        img{
          width: 50px;
          height: 50px;
        }
          

      }

}


@media  (max-width: 575.98px){
  header{
  
    width: 50%;
    .wapp{
        margin-top: 70px;
        position: fixed;   
        z-index: 2;

        a{
          cursor: pointer;
          width: fit-content;
          height: fit-content;
        }
          
        img{
          width: 50px;
          height: 50px;
        }   

      }

}
}