body {
  

  main {
    padding: 5%;
    width: 100%;
    margin-bottom: 5%;

    h1 {
      text-align: center;
    }

    section {
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      flex-direction: row;
      vertical-align: middle;
      flex-wrap: wrap;
      width: 100%;

      .cuadro1 {
        margin-top: 3%;
        box-sizing: border-box;
        width: 20%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 36px;
        background: linear-gradient(
          145deg,
          rgb(3, 50, 97) 0%,
          rgb(64, 126, 187) 64%,
          rgb(131, 163, 196) 100%
        );
        box-shadow: 11px 11px 5px #5a5a5a;
        transition: all 1s;

        a {
          outline: none;
          text-decoration: none;
          color: #ffffff;
          font-size: 1.5rem;
          font-weight: bolder;
          display: flex;
        }
      }

      .cuadro1:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer;
      }

      .cuadro2 {
        margin-top: 3%;
        box-sizing: border-box;
        border: 1px solid grey;
        width: 20%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 36px;
        background: linear-gradient(
          145deg,
          rgb(3, 50, 97) 0%,
          rgb(66, 116, 167) 64%,
          rgb(131, 163, 196) 100%
        );
        box-shadow: 11px 11px 5px #5a5a5a;
        transition: all 1s;
        a {
          outline: none;
          text-decoration: none;
          color: #ffffff;
          font-size: 1.5rem;
          font-weight: bolder;
          display: flex;
        }
      }

      .cuadro2:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer;
      }

      .cuadro3 {
        margin-top: 3%;
        box-sizing: border-box;
        width: 20%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 36px;
        background: linear-gradient(
          145deg,
          rgb(3, 50, 97) 0%,
          rgb(66, 116, 167) 64%,
          rgb(131, 163, 196) 100%
        );
        box-shadow: 11px 11px 5px #5a5a5a;
        transition: all 1s;
        a {
          outline: none;
          text-decoration: none;
          color: #ffffff;
          font-size: 1.5rem;
          font-weight: bolder;
          display: flex;
        }
      }

      .cuadro3:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer;
      }
    }
  }
}

<<<<<<< HEAD

/*HTML ROSCA*/
.body-rosca{
 
  main {
    width: 100%;
    
    
    h1 {
      text-align: center;
      color: #325697;
    }
=======
/*HTML ROSCA*/
.body-rosca{
  background-image: url("../imagenes/fondo gris.png");
  background-repeat: repeat-y;
  background-size: cover;

  main {
    width: 100%;
    margin-bottom: 70px;

    
    .h1{
      text-align: left;
      margin-left: 8%;
      font-size: 2rem;
      font-weight: 550;
      color: #2956ac;
      text-shadow: 1px 1px 2px #332f2f;
    }

>>>>>>> 3c512ad96e1abb16df1a6456d6ded59a5a0b6873
    .menu__desplegable {
      position: relative;

      .nav {
        display: block;
<<<<<<< HEAD

        //Encabezado de cada lista
        .m1 {
          text-decoration: none;
          background-color: #4F2F7A;
          width: 300px;         
          font-weight: bold;
          color: #ffffff;
          text-align: center;          
          padding: 2% 0% 2% 0%;          
          margin: 2% 0% 2% 0%;
          display:block; 
          

          ul{           
            padding:0;
            margin: 0%;
            top: 100%;
            left: 0;
            height: auto; 
            display: none;    
            background: #fff;


            li{
              list-style: none;
              text-decoration: none;              
              color: #ffffff;
              font-size: 1rem;
              text-align: left;
              float: none;     
              margin: 5px;          
              padding: 2% 0% 2% 0%;
                                       
              .m1__item{    
=======

        //Encabezado de cada lista
        .m1 {
          text-decoration: none;
          background-color: #a31cb4;
          width: 300px;         
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          padding: 1% 0% 1% 0%;
          display:block;

          ul{
            display:none;  
            padding:0;
            top: 100%;
            left: 0;

            li{
              list-style: none;
              text-decoration: none;
              width: 300px;
              height: 40px;
              color: #ffffff;
              font-size: 0.8rem;
              text-align: left;
              float: none;
                                       
              .m1__item{    
                display:block;
                text-decoration: none;
                list-style-type: none;                
                background-color: #ffffff;
                color: #a31cb4;
                border: 2px solid #a31cb4;
                font-size: 0.9rem;
                padding: 2% 0% 2% 0%;
                width: 300px;
                height: 40px;
                                       
    
                &:hover {
                  background-color: #a21cb4b4;
                  color: #ffffff;
                }

                
                span {
                  margin-left: 10px;
                }
              }
            }
          }
        }

        .m1:hover ul {
          display: block;
          position: static;
        }

        .m2 {
          text-decoration: none;
          background-color:  #e956d5;
          width: 300px;         
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          padding: 1% 0% 1% 0%;
          display:block;

          ul{
            display:none;  
            padding:0;
            top: 100%;
            left: 0;

            li{
              list-style: none;
              text-decoration: none;
              width: 300px;
              height: 40px;
              color: #ffffff;
              font-size: 0.8rem;
              text-align: left;
              float: none;
                                       
              .m2__item{    
                display:block;
                text-decoration: none;
                list-style-type: none;                
                background-color: #ffffff;
                color:  #e956d5;
                border: 2px solid  #e956d5;
                font-size: 0.9rem;
                padding: 2% 0% 2% 0%;
                width: 300px;
                height: 40px;
                                       
    
                &:hover {
                  background-color:  #e956d5b7;
                  color: #ffffff;
                }

                
                span {
                  margin-left: 10px;
                }
              }
            }
          }
        }

        .m2:hover ul {
          display: block;
          position: static;
        }

        .m3 {
          text-decoration: none;
          background-color: #2956ac;
          width: 300px;         
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          padding: 1% 0% 1% 0%;
          display:block;

          ul{
            display:none;  
            padding:0;
            top: 100%;
            left: 0;

            li{
              list-style: none;
              text-decoration: none;
              width: 300px;
              height: 40px;
              color: #ffffff;
              font-size: 0.8rem;
              text-align: left;
              float: none;
                                       
              .m3__item{    
                display:block;
                text-decoration: none;
                list-style-type: none;                
                background-color: #ffffff;
                color: #2956ac;
                border: 2px solid  #2956ac;
                font-size: 0.9rem;
                padding: 2% 0% 2% 0%;
                width: 300px;
                height: 40px;
                                       
    
                &:hover {
                  background-color:  #2956acb2;
                  color: #ffffff;
                }
                
                span {
                  margin-left: 10px;
                }
              }
            }
          }
        }

        .m3:hover ul {
          display: block;
          position: static;
        }


        .m4 {
          text-decoration: none;
          background-color: #7eca74;
          width: 300px;         
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          padding: 1% 0% 1% 0%;
          display:block;

          ul{
            display:none;  
            padding:0;
            top: 100%;
            left: 0;

            li{
              list-style: none;
              text-decoration: none;
              width: 300px;
              height: 40px;
              color: #ffffff;
              font-size: 0.8rem;
              text-align: left;
              float: none;
                                       
              .m4__item{    
>>>>>>> 3c512ad96e1abb16df1a6456d6ded59a5a0b6873
                display:block;
                text-decoration: none;
                list-style-type: none;                
                background-color: #ffffff;
<<<<<<< HEAD
                color: #4F2F7A;
                font-size: 0.9rem;
                padding: 2% 4% 2% 4%; 
                display: none;
                                                    
    
                &:hover {
                  background-color: #4f2f7ab2;
=======
                color: #7eca74;
                border: 2px solid  #7eca74;
                font-size: 0.9rem;
                padding: 2% 0% 2% 0%;
                width: 300px;
                height: 40px;
                                       
    
                &:hover {
                  background-color:  #7eca74af;
>>>>>>> 3c512ad96e1abb16df1a6456d6ded59a5a0b6873
                  color: #ffffff;
                }
                
                span {
                  margin-left: 10px;
<<<<<<< HEAD
                  
                }
=======
                }
              }
            }
          }
        }

        .m4:hover ul {
          display: block;
          position: static;
        }

        .m5 {
          text-decoration: none;
          background-color: #e0de53;
          width: 300px;         
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          padding: 1% 0% 1% 0%;
          display:block;

          ul{
            display:none;  
            padding:0;
            top: 100%;
            left: 0;

            li{
              list-style: none;
              text-decoration: none;
              width: 300px;
              height: 40px;
              color: #ffffff;
              font-size: 0.8rem;
              text-align: left;
              float: none;
                                       
              .m5__item{    
                display:block;
                text-decoration: none;
                list-style-type: none;                
                background-color: #ffffff;
                color: #e0de53;
                border: 2px solid #e0de53;
                font-size: 0.9rem;
                padding: 2% 0% 2% 0%;
                width: 300px;
                height: 40px;
                                       
    
                &:hover {
                  background-color: #e0de53b4;
                  color: #ffffff;
                }

                
                span {
                  margin-left: 10px;
                }
>>>>>>> 3c512ad96e1abb16df1a6456d6ded59a5a0b6873
              }
            }
          }
        }
<<<<<<< HEAD
=======

        .m5:hover ul {
          display: block;
          position: static;
        }
            
            }
          }
          

      }

    }





>>>>>>> 3c512ad96e1abb16df1a6456d6ded59a5a0b6873


<<<<<<< HEAD
        .m2 {
          text-decoration: none;
          background-color:  #EE2556;
          width: 300px;         
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          padding: 2% 0% 2% 0%;
          margin: 2% 0% 2% 0%;
          display:block;
=======
  main {
   
 h1 {
      text-align: center;
>>>>>>> 3c512ad96e1abb16df1a6456d6ded59a5a0b6873

          ul{
            padding:0;
            margin: 0%;
            top: 100%;
            left: 0;
            height: auto; 
            display: none;    
            background: #fff;

            li{
              list-style: none;
              text-decoration: none;              
              color: #ffffff;
              font-size: 1rem;
              text-align: left;
              float: none;     
              margin: 5px;          
              padding: 2% 0% 2% 0%;
                                       
              .m2__item{    
                display:block;
                text-decoration: none;
                list-style-type: none;                
                background-color: #ffffff;
                color:  #EE2556;                
                font-size: 0.9rem;       
                padding: 2% 4% 2% 4%;         
                display: none;
                                       
    
                &:hover {
                  background-color: #ee2557a8;
                  color: #ffffff;
                }

                
                span {
                  margin-left: 10px;
                }
              }
            }
          }
        }

       
        .m3 {
          text-decoration: none;
          background-color: #161FCB;
          width: 300px;         
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          padding: 2% 0% 2% 0%;
          margin: 2% 0% 2% 0%;
          display:block;

          ul{
            padding:0;
            margin: 0%;
            top: 100%;
            left: 0;
            height: auto; 
            display: none;    
            background: #fff;

            li{
              list-style: none;
              text-decoration: none;              
              color: #ffffff;
              font-size: 1rem;
              text-align: left;
              float: none;     
              margin: 5px;          
              padding: 2% 0% 2% 0%;
                                       
              .m3__item{    
                display:block;
                text-decoration: none;
                list-style-type: none;                
                background-color: #ffffff;
                color: #161FCB;
                font-size: 0.9rem;
                padding: 2% 4% 2% 4%;
                display: none;
                                       
    
                &:hover {
                  background-color:  #161fcbad;
                  color: #ffffff;
                }
                
                span {
                  margin-left: 10px;
                }
              }
            }
          }
        }

        .m4 {
          text-decoration: none;
          background-color: #08A908;
          width: 300px;         
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          padding: 2% 0% 2% 0%;
          margin: 2% 0% 2% 0%;
          display:block;

          ul{
            padding:0;
            margin: 0%;
            top: 100%;
            left: 0;
            height: auto; 
            display: none;    
            background: #fff;

            li{
              list-style: none;
              text-decoration: none;              
              color: #ffffff;
              font-size: 1rem;
              text-align: left;
              float: none;     
              margin: 5px;          
              padding: 2% 0% 2% 0%;
                                       
              .m4__item{    
                display:block;
                text-decoration: none;
                list-style-type: none;                
                background-color: #ffffff;
                color: #08A908;
                font-size: 0.9rem;
                padding: 2% 4% 2% 4%;
                display: none;                                       
    
                &:hover {
                  background-color:  #08a908a9;
                  color: #ffffff;
                }
                
                span {
                  margin-left: 10px;
                }
              }
            }
          }
        }

        .m5 {
          text-decoration: none;
          background-color: #F2F924;
          width: 300px;         
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          padding: 2% 0% 2% 0%;
          margin: 2% 0% 2% 0%;
          display:block;

          ul{
            padding:0;
            margin: 0%;
            top: 100%;
            left: 0;
            height: auto; 
            display: none;    
            background: #fff;

            li{
              list-style: none;
              text-decoration: none;              
              color: #ffffff;
              font-size: 1rem;
              text-align: left;
              float: none;     
              margin: 5px;          
              padding: 2% 0% 2% 0%;
                                       
              .m5__item{    
                display:block;
                text-decoration: none;
                list-style-type: none;                
                background-color: #ffffff;
                color: #f2f924;
                font-size: 0.9rem;
                padding: 2% 4% 2% 4%;
                display: none;                    
    
                &:hover {
                  background-color: #f2f924b4;
                  color: #ffffff;
                }

                
                span {
                  margin-left: 10px;
                }
              }
            }
          }
<<<<<<< HEAD
        }            
            }
          }
          

      }
        
=======
        }
      }
    }
  }
}

  

>>>>>>> 3c512ad96e1abb16df1a6456d6ded59a5a0b6873


}

/*HTML CONEXIÓN*/
.body-conexion {  
 
   
  .conexion{
   
    width: 100%;
    margin-bottom: 30%;    
       
    img{
      display: block;
      margin: auto;
    }
  }


}

/*HTML PERIAPICAL*/

.body-periapical {
.contenedor {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}
}


@media only screen and (max-width: 700px) {
  .body-periapical {
    .contenedor {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }


  body {
    
    main {
      padding: 2%;      
      width: 100%;
      

      h1 {
        text-align: center;
        font-size: 1.3rem;
        padding-top: 5%;
        color: #325697;
      }

      section {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 150px;
        margin: auto;
        margin-top: 4%;
        

        .cuadro1 {
          
          box-sizing: border-box;
          width: 150px;
          height: 70px;
          margin-bottom: 25px;
          border-radius: 20px;
          background: linear-gradient(
            145deg,
            rgb(3, 50, 97) 0%,
            rgb(66, 116, 167) 64%,
            rgb(131, 163, 196) 100%
          );
          box-shadow: 11px 11px 5px #5a5a5a;
          transition: all 1s;

          a {
            outline: none;
            text-decoration: none;
            color: #ffffff;
            font-size: 1rem;
            font-weight: bolder;
            display: flex;
            text-align: center;
          }
        }

        .cuadro1:hover {
          transform: scale(1.2, 1.2);
          cursor: pointer;
        }

        .cuadro2 {
      
          box-sizing: border-box;
          width: 150px;
          height: 70px;
          margin-bottom: 25px;
          border-radius: 20px;
          background: linear-gradient(
            145deg,
            rgb(3, 50, 97) 0%,
            rgb(66, 116, 167) 64%,
            rgb(131, 163, 196) 100%
          );
          box-shadow: 11px 11px 5px #5a5a5a;
          transition: all 1s;
          a {
            outline: none;
            text-decoration: none;
            color: #ffffff;
            font-size: 1rem;
            font-weight: bolder;
            display: flex;
            text-align: center;
          }
        }

        .cuadro2:hover {
          transform: scale(1.2, 1.2);
          cursor: pointer;
        }

        .cuadro3 {
       
          box-sizing: border-box;
          width: 150px;
          height: 70px;
          margin-bottom: 25px;
          border-radius: 20px;
          background: linear-gradient(
            145deg,
            rgb(3, 50, 97) 0%,
            rgb(66, 116, 167) 64%,
            rgb(131, 163, 196) 100%
          );
          box-shadow: 11px 11px 5px #5a5a5a;
          transition: all 1s;
          a {
            outline: none;
            text-decoration: none;
            color: #ffffff;
            font-size: 1rem;
            font-weight: bolder;
            display: flex;
            text-align: center;
          }
        }

        .cuadro3:hover {
          transform: scale(1.2, 1.2);
          cursor: pointer;
        }
      }
    }
  }

<<<<<<< HEAD
  .body-rosca {
    .contenedor {
      width: 100%;
      margin-bottom: 0;

    }
  }

  /*HTML CONEXIÓN*/

    
  .conexion{
   
    width: 100%;
      
       
    img{
      width: 300px;
      display: block;
      margin: auto;
    }
  }
  
}

=======
.body-rosca{

  main{

    margin-left: 7%;

    .h1{
      margin-left: 25%;
    }

  }


}

.body-periapical{

    margin-left: 7%;

  }

}



>>>>>>> 3c512ad96e1abb16df1a6456d6ded59a5a0b6873
