.bodyIndex {
  overflow-x: hidden;
  width: 100%;
  font-size: 120%;

  main {
    width: 100%;
    height: auto;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;

            .navbar-toggler-icon {
              color: white !important;
            }
          }

          .navbar-nav {
            background: none;

            a {
              color: #3e5a86;
              font-weight: bold;
              text-align: end;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;

              &:hover {
                background: #3e5a86b9;
                color: #fff;
              }
            }
          }
        }
      }
    }

    .container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;

      img {
        margin: auto;
        width: 90%;
        height: auto;
        padding: 5% 2% 0% 4%;
      }

      .titulo {
        margin: auto;
        margin-top: 12%;

        #h1 {
          text-align: center;
          padding-right: 0% 0% 2% 0%;
          color: #3e5a86;
          font-weight: 500;
          font-size: 220%;
          margin-right: 0;
        }
      }

      .cuadro1 {
        box-sizing: border-box;
        width: 75%;
        height: 80px;
        justify-content: center;
        transition: all 1s;
        border-radius: 0px;
        background: #3e5a86;
        display: flex;
        margin: auto;
        margin-top: 2.5%;

        a {
          outline: none;
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem;
          font-weight: bolder;
          text-align: center;
          align-self: center;
        }
      }

      .cuadro1:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer;
      }

      .cuadro2 {
        @extend .cuadro1;
      }

      .cuadro2:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer;
      }

      .cuadro3 {
        @extend .cuadro1;
      }

      .cuadro3:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer;
      }

      .calibre {
        width: 100%;

        h2 {
          text-align: center;
          font-size: 200%;
          margin-top: 0;
          padding-top: 0;
          color: #3e5a86;
        }
        p {
          text-align: center;
          font-size: 150%;
          padding-top: 1%;
          color: #3e5a86;
        }
        .img {
          text-align: center;
          width: 75%;
          height: auto;
          margin: auto;

          img {
            padding-top: 0 !important;
          }
        }
      }
    }
  }
}

/*HTML ROSCA*/
.body-rosca {
  overflow-x: hidden;
  width: 100%;
  font-size: 120%;

  main {
    width: 100%;
    height: auto;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;

            .navbar-toggler-icon {
              color: white !important;
            }
          }

          .navbar-nav {
            background: none;

            a {
              color: #3e5a86;
              font-weight: bold;
              text-align: end;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;

              &:hover {
                background: #3e5a86b9;
                color: #fff;
              }
            }
          }
        }
      }
    }

    .container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;

      img {
        margin: auto;
        width: 90%;
        height: auto;
        padding: 5% 2% 0% 4%;
      }

      .titulo {
        margin: auto;
        margin-top: 12%;

        #h1 {
          text-align: center;
          padding-right: 0% 0% 2% 0%;
          color: #3e5a86;
          font-weight: 500;
          font-size: 220%;
          margin-right: 0;
        }
      }

      .menu__desplegable {
        margin: auto;
        padding-top: 3%;

        .nav {
          font-size: 105%;

          //Encabezado de cada lista
          .m1 {
            text-decoration: none;
            background-color: #4f2f7a;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block;

            ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff;

              .m1 {
                text-decoration: none;
                background-color: #4f2f7a;
                width: 100%;
                font-weight: bold;
                color: #ffffff;
                text-align: center;
                padding: 2% 0% 2% 0%;
                margin: 2% 0% 2% 0%;
                display: block;

                ul {
                  padding: 0;
                  margin: 0%;
                  top: 100%;
                  left: 0;
                  height: auto;
                  display: none;
                  background: #fff;
                }
              }

              li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                text-align: left;
                float: none;
                margin: 5px;
                padding: 2% 0% 2% 0%;

                .m1__item {
                  display: block;
                  text-decoration: none;
                  list-style-type: none;
                  background-color: #ffffff;
                  color: #4f2f7a;
                  font-size: 1rem;
                  padding: 2% 4% 2% 4%;
                  font-size: 1rem;

                  &:hover {
                    background-color: #4f2f7ab2;
                    color: #ffffff;
                  }

                  span {
                    margin-left: 10px;
                  }
                }
              }
            }
          }

          .m2 {
            text-decoration: none;
            background-color: #ee2556;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block;

            ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff;

              li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                font-size: 1rem;
                text-align: left;
                float: none;
                margin: 5px;
                padding: 2% 0% 2% 0%;

                .m2__item {
                  display: block;
                  text-decoration: none;
                  list-style-type: none;
                  background-color: #ffffff;
                  color: #ee2556;
                  font-size: 1rem;
                  padding: 2% 4% 2% 4%;

                  &:hover {
                    background-color: #ee2557a8;
                    color: #ffffff;
                  }

                  span {
                    margin-left: 10px;
                  }
                }
              }
            }
          }

          .m3 {
            text-decoration: none;
            background-color: #161fcb;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block;

            ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff;

              li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                font-size: 1rem;
                text-align: left;
                float: none;
                margin: 5px;
                padding: 2% 0% 2% 0%;

                .m3__item {
                  display: block;
                  text-decoration: none;
                  list-style-type: none;
                  background-color: #ffffff;
                  color: #161fcb;
                  font-size: 1rem;
                  padding: 2% 4% 2% 4%;

                  &:hover {
                    background-color: #161fcbad;
                    color: #ffffff;
                  }

                  span {
                    margin-left: 10px;
                  }
                }
              }
            }
          }

          .m4 {
            text-decoration: none;
            background-color: #08a908;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block;

            ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff;

              li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                font-size: 1rem;
                text-align: left;
                float: none;
                margin: 5px;
                padding: 2% 0% 2% 0%;

                .m4__item {
                  display: block;
                  text-decoration: none;
                  list-style-type: none;
                  background-color: #ffffff;
                  color: #08a908;
                  font-size: 1rem;
                  padding: 2% 4% 2% 4%;

                  &:hover {
                    background-color: #08a908a9;
                    color: #ffffff;
                  }

                  span {
                    margin-left: 10px;
                  }
                }
              }
            }
          }

          .m5 {
            text-decoration: none;
            background-color: #fce221;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block;

            ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff;

              li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                font-size: 1rem;
                text-align: left;
                float: none;
                margin: 5px;
                padding: 2% 0% 2% 0%;

                .m5__item {
                  display: block;
                  text-decoration: none;
                  list-style-type: none;
                  background-color: #ffffff;
                  color: #fce221;
                  font-size: 1rem;
                  padding: 2% 4% 2% 4%;

                  &:hover {
                    background-color: #fce221d8;
                    color: #ffffff;
                  }

                  span {
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*HTML CONEXIÓN*/
.body-conexion {
  width: 100%;
  overflow-x: hidden;
  font-size: 120%;

  main {
    width: 100%;
    padding-bottom: 15%;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;

            .navbar-toggler-icon {
              color: white !important;
            }
          }

          .navbar-nav {
            background: none;

            a {
              color: #3e5a86;
              font-weight: bold;
              text-align: end;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;

              &:hover {
                background: #3e5a86b9;
                color: #fff;
              }
            }
          }
        }
      }
    }

    .container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;

      img {
        margin: auto;
        width: 90%;
        height: auto;
        padding: 5% 2% 0% 4%;
      }

      .titulo {
        margin: auto;
        margin-top: 12%;

        #h1 {
          text-align: center;
          padding-right: 0% 0% 2% 0%;
          color: #3e5a86;
          font-weight: 500;
          font-size: 220%;
          margin-right: 0;
        }
      }

      .menu__desplegable--conexion {
        margin: auto;
        padding-top: 3%;
        width: 80%;

        .nav {
          font-size: 105%;
          //Encabezado de cada lista
          .m1 {
            text-decoration: none;
            background-color: #3e5a86;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block;

            ul {
              padding: 0%;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff;
              display: none;
              list-style: none;

              .m2__item {
                display: block;
                text-decoration: none;
                list-style-type: none;
                background-color: #ffffff;
                color: #ee2556;
                font-size: 1.2rem;
                padding: 2% 4% 2% 2%;
                height: 40px;

                &:hover {
                  background-color: #ee2557a8;
                  color: #ffffff;
                }

                span {
                  margin-left: 10px;
                }
              }

              .m1 {
                text-decoration: none;
                background-color: #8695b8;
                width: 100%;
                font-weight: bold;
                color: #ffffff;
                text-align: center;
                padding: 2% 0% 2% 0%;
                margin: 2% 0% 2% 0%;
                display: block;
                text-decoration: none;
                list-style-type: none;

                ul {
                  padding: 0%;
                  margin: 0%;
                  top: 100%;
                  left: 0;
                  height: auto;
                  display: none;
                  background: #fff;
                  display: none;

                  .m1__item {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: #ffffff;
                    color: #4f2f7a;
                    font-size: 1.2rem;
                    padding: 2% 4% 2% 2%;
                    height: 40px;

                    &:hover {
                      background-color: #4f2f7ab2;
                      color: #ffffff;
                    }

                    span {
                      margin-left: 10px;
                    }
                  }

                  .m2__item {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: #ffffff;
                    color: #ee2556;
                    font-size: 1.2rem;
                    padding: 2% 4% 2% 2%;
                    height: 40px;

                    &:hover {
                      background-color: #ee2557a8;
                      color: #ffffff;
                    }

                    span {
                      margin-left: 10px;
                    }
                  }

                  .m4__item {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: #ffffff;
                    color: #08a908;
                    font-size: 1.2rem;
                    padding: 2% 4% 2% 2%;
                    height: 40px;

                    &:hover {
                      background-color: #08a908a9;
                      color: #ffffff;
                    }

                    span {
                      margin-left: 10px;
                    }
                  }

                  .m5__item {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: #ffffff;
                    color: #fce221;
                    font-size: 1.2rem;
                    padding: 2% 4% 2% 2%;
                    height: 40px;

                    &:hover {
                      background-color: #fce221d8;
                      color: #ffffff;
                    }

                    span {
                      margin-left: 10px;
                    }
                  }
                }
              }
            }
          }

          .m2 {
            text-decoration: none;
            background-color: #3e5a86;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2% 0% 2% 0%;
            margin: 2% 0% 2% 0%;
            display: block;

            ul {
              padding: 0;
              margin: 0%;
              top: 100%;
              left: 0;
              height: auto;
              display: none;
              background: #fff;
              display: none;
              list-style: none;

              .m2 {
                text-decoration: none;
                background-color: #3e5a86;
                width: 100%;
                font-weight: bold;
                color: #ffffff;
                text-align: center;
                padding: 2% 0% 2% 0%;
                margin: 2% 0% 2% 0%;
                display: block;
                text-decoration: none;
                list-style-type: none;

                ul {
                  padding: 0;
                  margin: 0%;
                  top: 100%;
                  left: 0;
                  height: auto;
                  display: none;
                  background: #fff;
                  display: none;

                  .m2 {
                    text-decoration: none;
                    background-color: #8695b8;
                    width: 100%;
                    font-weight: bold;
                    color: #ffffff;
                    text-align: center;
                    padding: 2% 0% 2% 0%;
                    margin: 2% 0% 2% 0%;
                    display: block;

                    ul {
                      padding: 0;
                      margin: 0%;
                      top: 100%;
                      left: 0;
                      height: auto;
                      display: none;
                      background: #fff;
                      display: none;

                      .m1__item {
                        display: block;
                        text-decoration: none;
                        list-style-type: none;
                        background-color: #ffffff;
                        color: #4f2f7a;
                        font-size: 1.2rem;
                        padding: 2% 4% 2% 2%;
                        height: 40px;

                        &:hover {
                          background-color: #4f2f7ab2;
                          color: #ffffff;
                        }

                        span {
                          margin-left: 10px;
                        }
                      }
                      .m2__item {
                        display: block;
                        text-decoration: none;
                        list-style-type: none;
                        background-color: #ffffff;
                        color: #ee2556;
                        font-size: 1.2rem;
                        padding: 2% 4% 2% 2%;
                        height: 40px;

                        &:hover {
                          background-color: #ee2557a8;
                          color: #ffffff;
                        }

                        span {
                          margin-left: 10px;
                        }
                      }
                    }
                  }

                  .m2__item {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: #ffffff;
                    color: #ee2556;
                    font-size: 1.2rem;
                    padding: 2% 4% 2% 2%;
                    height: 40px;

                    &:hover {
                      background-color: #ee2557a8;
                      color: #ffffff;
                    }

                    span {
                      margin-left: 10px;
                    }
                  }
                }
              }

              .m1__item {
                display: block;
                text-decoration: none;
                list-style-type: none;
                background-color: #ffffff;
                color: #4f2f7a;
                font-size: 1.2rem;
                padding: 2% 4% 2% 2%;
                height: 40px;

                &:hover {
                  background-color: #4f2f7ab2;
                  color: #ffffff;
                }

                span {
                  margin-left: 10px;
                }
              }

              //m4 item
              .m4__item {
                display: block;
                text-decoration: none;
                list-style-type: none;
                background-color: #ffffff;
                color: #08a908;
                font-size: 1.2rem;
                padding: 2% 4% 2% 2%;
                height: 40px;

                &:hover {
                  background-color: #08a908a9;
                  color: #ffffff;
                }

                span {
                  margin-left: 10px;
                }
              }
            }
          }

          .m3__item {
            display: block;
            text-decoration: none;
            list-style-type: none;
            background-color: #ffffff;
            color: #161fcb;
            font-size: 1.2rem;
            padding: 2% 4% 2% 4%;
            height: 40px;

            &:hover {
              background-color: #161fcbad;
              color: #ffffff;
            }

            span {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
/*HTML PERIAPICAL*/

.body-periapical {
  width: 100%;
  overflow-x: hidden;
  font-size: 120%;

  main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;

            .navbar-toggler-icon {
              color: white !important;
            }
          }

          .navbar-nav {
            background: none;

            a {
              color: #3e5a86;
              font-weight: bold;
              text-align: end;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;

              &:hover {
                background: #3e5a86b9;
                color: #fff;
              }
            }
          }
        }
      }
    }

    .container-fluid {
      .titulo {
        text-align: center;
        padding-bottom: 5%;

        #h1 {
          padding-right: 0;
          padding-top: 0;
          color: #3e5a86;
          font-weight: 500;
          font-size: 220%;
        }
      }
    }
  }
}

.body-periapicalIndividual {
  width: 100%;
  overflow-x: hidden;

  main {
    margin-bottom: 100px;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;

            .navbar-toggler-icon {
              color: white !important;
            }
          }

          .navbar-nav {
            background: none;

            a {
              color: #3e5a86;
              font-weight: bold;
              text-align: end;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;

              &:hover {
                background: #3e5a86b9;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .container-fluid {
      width: 80%;
      margin: auto;

      .card {
        justify-content: center;
        width: 80%;
        height: auto;
        margin: auto;

        .card-body {
          .card-title {
            font-size: 100%;
            font-weight: bold;
            color: #3e5a86;
            padding-bottom: 1%;
            text-align: center !important;
          }

          img {
            width: 70%;
            height: auto;
            margin-top: 5%;
          }
        }

        .card-footer {
          margin: auto;
          background: none;
          border-top: none;
          padding: 3%;
          .btn,
          .btn-primary {
            background-color: #3e5a86 !important;
            color: #fff !important;
            border-color: #3e5a86 !important;
            justify-content: center !important;
            align-items: center !important;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .bodyIndex {
    font-size: 100%;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;
            color: white !important;
          }

          .navbar-nav {
            background: #3e5a86ce !important;

            a {
              color: #fff !important;
              font-weight: bold;
              text-align: center !important;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;
              width: 20% !important;

              &:hover {
                background: none !important;
                color: none !important;
              }
            }
          }
        }
      }
    }

    .container {
      img {
        margin: auto;
        width: 50%;
        height: auto;
        padding: 5% 2% 0% 4%;
      }

      .titulo {
        margin: auto;
        margin-top: 0%;
      }

      .calibre {
        p {
          text-align: center;
          font-size: 100%;
          padding-top: 1%;
          color: #3e5a86;
        }
      }
    }
  }

  .body-rosca {
    font-size: 100%;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;
            color: white !important;
          }

          .navbar-nav {
            background: #3e5a86ce !important;

            a {
              color: #fff !important;
              font-weight: bold;
              text-align: center !important;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;
              width: 20% !important;

              &:hover {
                background: none !important;
                color: none !important;
              }
            }
          }
        }
      }
    }

    .container {
      img {
        margin: auto;
        width: 50%;
        height: auto;
        padding: 5% 2% 0% 4%;
      }
    }
  }

  .body-conexion {
    font-size: 100%;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;
            color: white !important;
          }

          .navbar-nav {
            background: #3e5a86ce !important;

            a {
              color: #fff !important;
              font-weight: bold;
              text-align: center !important;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;
              width: 20% !important;

              &:hover {
                background: none !important;
                color: none !important;
              }
            }
          }
        }
      }
    }

    .container {
      img {
        margin: auto;
        width: 50%;
        height: auto;
        padding: 5% 2% 0% 4%;
      }
    }
  }

  .body-periapical {
    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;
            color: white !important;
          }

          .navbar-nav {
            background: #3e5a86ce !important;

            a {
              color: #fff !important;
              font-weight: bold;
              text-align: center !important;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;
              width: 20% !important;

              &:hover {
                background: none !important;
                color: none !important;
              }
            }
          }
        }
      }
    }
  }

  .body-periapicalIndividual {
    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;
            color: white !important;
          }

          .navbar-nav {
            background: #3e5a86ce !important;

            a {
              color: #fff !important;
              font-weight: bold;
              text-align: center !important;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;
              width: 20% !important;

              &:hover {
                background: none !important;
                color: none !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .bodyIndex {
    font-size: 100%;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;
            color: white !important;
          }

          .navbar-nav {
            background: #3e5a86ce !important;

            a {
              color: #fff !important;
              font-weight: bold;
              text-align: center !important;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;
              width: 20% !important;

              &:hover {
                background: none !important;
                color: none !important;
              }
            }
          }
        }
      }
    }

    .container {
      img {
        margin: auto;
        width: 50%;
        height: auto;
        padding: 5% 2% 0% 4%;
      }

      .calibre {
        p {
          text-align: center;
          font-size: 100%;
          padding-top: 1%;
          color: #3e5a86;
        }
        .img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .body-rosca {
    font-size: 100%;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;
            color: white !important;
          }

          .navbar-nav {
            background: #3e5a86ce !important;

            a {
              color: #fff !important;
              font-weight: bold;
              text-align: center !important;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;
              width: 20% !important;

              &:hover {
                background: none !important;
                color: none !important;
              }
            }
          }
        }
      }
    }

    .container {
      img {
        margin: auto;
        width: 50%;
        height: auto;
        padding: 5% 2% 0% 4%;
      }
    }
  }

  .body-conexion {
    font-size: 100%;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;
            color: white !important;
          }

          .navbar-nav {
            background: #3e5a86ce !important;

            a {
              color: #fff !important;
              font-weight: bold;
              text-align: center !important;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;
              width: 20% !important;

              &:hover {
                background: none !important;
                color: none !important;
              }
            }
          }
        }
      }
    }

    .container {
      img {
        margin: auto;
        width: 50%;
        height: auto;
        padding: 5% 2% 0% 4%;
        position: relative;
      }
    }
  }

  .body-periapical {
    font-size: 100%;

    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;
            color: white !important;
          }

          .navbar-nav {
            background: #3e5a86ce !important;

            a {
              color: #fff !important;
              font-weight: bold;
              text-align: center !important;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;
              width: 20% !important;

              &:hover {
                background: none !important;
                color: none !important;
              }
            }
          }
        }
      }
    }
  }

  .body-periapicalIndividual {
    .inicio {
      .topnav {
        .logo {
          float: left;
          position: relative;
          margin: 1%;
        }

        .navbar {
          padding: 2% !important;
          border: none !important;
          box-shadow: none !important;
          background-color: #fff !important;

          .navbar-toggler {
            background: #3e5a86;
            color: white !important;
          }

          .navbar-nav {
            background: #3e5a86ce !important;

            a {
              color: #fff !important;
              font-weight: bold;
              text-align: center !important;
              margin-right: 3% !important;
              text-decoration: none;
              font-size: 120%;
              margin-right: 0;
              width: 20% !important;

              &:hover {
                background: none !important;
                color: none !important;
              }
            }
          }
        }
      }
    }
  }
}
